[2017-04-28 16:40] JoeM-RP opened #1 "Android: Crash within OnMAMResume() using SDK version 1.1.0.0"
Xamarin.Forms (PCL) Android app with Intune SDK integration crashes on launch within OnMAMResume. Console output:

[code]

Verified on:
- Nexus 5X
- Visual Studio Emulator for Android v 1.1.1207.2 simulating 5.5" Marshmallow (6.0.0) XXHDPI Phone, API Level 23, 1GB (Similar to Motorola Moto X Play)

Developer Configuration:
- Visual Studio 2017 15.1 (26403.7)
- Xamarin 4.4.0.34 (3f99c5a)
- Xamarin.

[2017-07-17 16:58] paulryan commented on #1
I see it working with FormsApplicationActivity but throwing this error for FormsAppCompatActivity. The latter provides the support for TabLayoutResource and ToolbarResource.

[2017-09-19 12:36] hallkvist commented on #1
I've got the same problem! Did you find a solution?

[2017-09-19 13:15] paulryan commented on #1
Glad to hear that it's not just me. Unfortunately, I've not got a solution but this is likely just because I've been working on other projects since I encountered this. Please do post if you find a solution!

[2017-09-19 13:20] JoeM-RP commented on #1
No resolution from me either - ended up scrapping the SDK integration and forgoing the features it provides

[2017-09-19 13:59] msintuneappsdk commented on #1
@JoeM-RP @paulryan @hallkvist Intune's Xamarin support is currently in preview. Please reach out to msintunesdk@microsoft.com and we can investigate further.

[2017-09-19 18:23] hallkvist commented on #1
@msintuneappsdk  Well... I already raised another issue to the product group, but the response was "... the project had set dormant for a full year". So I guess it wouldn't make sense to raise this either.

[2017-12-29 14:08] LDan1117 opened #2 "Microsoft.Intune.MAM.iOS insufficient binding of the native lib"
Hi!

I have tried to integrate the Intune App SDK Xamarin component with a Xamarin.iOS app and encountered an issue. The contract exposed by the native library (Intune App SDK for iOS) differs from the one of Xamarin component. You can see it in attached screenshots.
IntuneMAMConfig and IntuneMAMConfigManager are missing in the Xamarin component (not only these types).
![1](https://user-images.git

[2018-01-09 15:03] msivers opened #3 "Nuget version of Intune SDK for Xamarin"
Now that Xamarin Components has been deprecated from Visual Studio, will the Intune SDK for Xamarin be made available via Nuget?

[2018-02-12 19:15] Kyle-Reis commented on #2
Hey @LDan1117, this should be addressed in the current version (2.1.0.0). Version 1.1.0.0 was released well before the native APIs you are referencing became available. Note: The assembly version issue you mentioned was not addressed in 2.1.0.0, so you may notice they are still 1.0.0.0, but we've noticed the issue and will be updating the assembly versions as well moving forward

[2018-02-12 19:16] Kyle-Reis commented on #3
Hey @msivers, we're working on it!

[2018-03-05 14:00] robbo-aj commented on #3
Has any progress been made on this. I've been asked to investigate the current state of Intune with regards to Xamarin apps but have had to say I can't actually install it to check...

[2018-03-05 14:13] reutann commented on #3
Hi @robbo-aj, progress is definitely being made. We're hoping to have this and several other changes within the month.

[2018-03-05 15:16] robbo-aj commented on #3
Thanks. I'll look forward to trying it out

[2018-03-14 13:24] chrisronburns commented on #3
Looking forward to this, thanks guys!

[2018-03-19 13:31] reutann commented on #1
@JoeM-RP, @paulryan, @hallkvist - this is resolved in the latest versions of the remapper package and the Android DLL found in this repo. Please try them out and let us know what you think!

[2018-03-19 13:39] reutann commented on #3
@msivers. @robbo-aj, @chrisronburns - you can find the separated DLLs in this repo. Please note that this is currently a public preview that will be released to nuget.org soon so please let us know if you encounter any issues.

[2018-03-20 15:40] Kyle-Reis commented on #3
Closing this issue out as we have completed the move to NuGet packages. The documentation at https://docs.microsoft.com/intune/app-sdk-xamarin has also been updated to reflect this move.

[2018-03-20 15:42] Kyle-Reis commented on #2
The assembly versioning issue has also been addressed in the latest release. We have moved to NuGet packages, as Xamarin components are being deprecated. Please see the updated documentation at https://docs.microsoft.com/intune/app-sdk-xamarin

[2018-03-20 15:48] #3 closed

[2018-03-20 15:49] #2 closed

[2018-03-20 15:49] #1 closed

[2018-03-26 20:28] reutann opened #5 "App crashes when deploying as debug and the Company Portal is installed and the device is API23+"
## **Updated Workaround**
MAM integrated Xamarin applications can be successfully debugged if the `Debuggable = false` attribute is added to the `Application` class and `android:debuggable="true"` has not been manually set on the manifest.

For example:
[code]

## **Repro Steps**
1. Install the Intune Company Portal on a device that is API23 or above.
2. Deploy Xamarin application in Debug mode fr

[2018-03-29 21:00] Kyle-Reis opened #6 "iOS: IntuneMAMConfigurator is not automatically run when building on Windows"
The IntuneMAMConfigurator tool is not automatically run at build time when building on Windows. This may cause apps to not function properly. To work around this issue, developers need to run the tool on a mac, then copy the resulting info.plist back over to their Windows machine and replace the original before building. This only needs to be done once. There is no need to manually run the tool be

[2018-04-12 05:40] arggrande opened #7 "Android: Certain properties and methods not found when changing MainActivity of Xamarin Forms App to inherit from MAMAppCompatActivity"
Hi folks,

Just wondering if I could get some assistance with a Xamarin Forms App that Im helping to build. We're currently trying to implement the InTune SDK to get access to the MAM functionality it provides.

When we change our `MainActivity.cs` file to inherit from `Microsoft.Intune.Mam.Client.Support.V7.App.MAMAppCompatActivity`, We're able to override most of the methods as we'd expect (`OnM

[2018-04-12 14:39] reutann commented on #7
Hi @arggrande, when using `Xamarin.Forms`, please check out these integration guidelines: https://docs.microsoft.com/en-us/intune/app-sdk-xamarin#enabling-app-protection-policies-in-your-android-mobile-app . You can also download the .xam found in this repo to see a full example of the Android `Xamarin.Forms` integration. Essentially, you need to include the `Microsoft.Intune.MAM.Remapper.Tasks` n

[2018-04-13 07:28] arggrande commented on #7
Ah I see! thanks for responding :)

[2018-04-13 14:23] rzdebskiy opened #8 "Adding Microsoft.Intune.MAM.Xamarin.Android nuget package to Xamarin Forms Android app fails"
Adding Microsoft.Intune.MAM.Xamarin.Android nuget package to Xamarin Forms Android project fails with the following error:
NU1202: Package Microsoft.Intune.MAM.Xamarin.Android 3.0.3989.3 is not compatible with monoandroid81 (MonoAndroid,Version=v8.1). Package Microsoft.Intune.MAM.Xamarin.Android 3.0.3989.3 supports: net452xamarinandroid10 (net452+Xamarin.Android10,Version=v0.0)
Package restore fai

[2018-04-16 14:46] reutann commented on #8
@rzdebskiy, sorry that you're experiencing this, I'll need to look into this further. Would you be able to provide the sample project? In the meantime, you should be able to manually edit the `packages.config` to include the package and manually create a reference to the DLL contained within it. You can open up the `.xam` file that's in this repo to see a full sample of integration with `Xamarin.A

[2018-04-17 08:03] rzdebskiy commented on #8
It is just blank new Xamarin Forms project - https://github.com/rzdebskiy/IntuneSDKSample. When I try to add Microsoft.Intune.MAM.Xamarin.Android Nuget package to Android project I get:
![image](https://user-images.githubusercontent.com/23632710/38856362-e6241346-422e-11e8-8b32-5fc1949108d2.png)

[2018-04-17 11:56] rzdebskiy commented on #8
@reutann there is no packages.config in the project - please see source https://github.com/rzdebskiy/IntuneSDKSample. Maybe Microsoft.Intune.MAM.Xamarin.Android is not supported in Xamarin Forms projects?

[2018-04-17 12:45] rzdebskiy opened #9 "remapping-config.json is missing after referencing Microsoft.Intune.MAM.Remapper.Tasks"
I am using [Microsoft Intune App SDK Xamarin Bindings](https://docs.microsoft.com/en-us/intune/app-sdk-xamarin) guide to integrate Intune SDK with Xamarin Forms app.
When I reference Nuget package [Microsoft.Intune.MAM.Remapper.Task](https://www.nuget.org/packages/Microsoft.Intune.MAM.Xamarin.Android) as advised in the guide it references successfuly but no remapping-config.json file is added to t

[2018-04-17 14:56] reutann commented on #9
According to the sample project that you've shared, https://github.com/rzdebskiy/IntuneSDKSample/blob/master/IntuneSDKSample/IntuneSDKSample.Android/IntuneSDKSample.Android.csproj shows no sign of including the remapper tasks and, also, the link that you've posted and labeled as "Microsoft.Intune.MAM.Remapper.Task" is actually the bindings DLLs, not the remapper tasks. You can see the Remapper tas

[2018-04-17 14:56] #9 closed

[2018-04-17 14:58] reutann commented on #8
@rzdebskiy, how are you downloading nuget packages without a packages.config? Are you using a different package manager? Microsoft.Intune.MAM.Xamarin.Android is definitely supported with Xamarin.Forms projects.

To see a full sample of how to get this working, you can download [our .xam that contains samples](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/blob/master/Microsoft.Intune.MAM

[2018-04-17 15:36] reutann commented on #8
Looking a bit further into it, I can confirm that there is an issue with the target framework for the `Microsoft.Intune.MAM.Xamarin.Android` package that makes it incompatible with your project which is targeting `netstandard2.0`. While I the package is not truly incompatible, the target framework makes it impossible to include the package in your `netstandard2.0` project. We will need to take a c

[2018-04-17 15:47] rzdebskiy commented on #9
Thank you @reutann , I have VS 2017 v15.6.6 when I try to `xamarin-component.exe install .\Microsoft.Intune.MAM-3.0.0.0.xam `
I get an error:
`Unhandled Exception: ICSharpCode.SharpZipLib.Zip.ZipException: Cannot find central directory
   at ICSharpCode.SharpZipLib.Zip.ZipFile.ReadEntries()
   at ICSharpCode.SharpZipLib.Zip.ZipFile..ctor(String name)
   at Xamarin.Components.Packaging.ComponentPac

[2018-04-17 15:49] reutann commented on #9
Unfortunately, Xamarin has removed support for the Component store for new projects so until we can get those samples up on github, you'll need to extract the xam (it's just an archive) and view the samples that way.

[2018-04-17 15:53] rzdebskiy commented on #8
Thank you @reutann - this is exactly my case - I use VS 2017 v15.6.6 which has new [Nuget reference format  ](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference). Could you advise on workaround for me while you are fixing this? Need a little bit more details on your piece of advice to *If you are able to drop your TargetFramework, you will be able to incl

[2018-04-19 00:00] arggrande commented on #7
Just to qualify one last thing:

If I'm reading what you're saying correctly, do we not need to provide our own overrides of things like `OnMamCreate` etc in our code *at all*, because the `Microsoft.Intune.MAM.Remapper.Tasks` takes care of all that magic behind the scenes at compilation time?

[2018-04-19 00:04] arggrande commented on #7
Also, and this may be potentially a really dumb question (sorry!):

How/where am I supposed to view this file? Looking at the nuget packages provided alongside the file you listed, I cant see any samples in there. And I'm not entirely sure how to view the `xam` file. Any help would be greatly appreciated :)

[2018-04-19 05:06] arggrande commented on #8
@rzdebskiy regarding:

Im think @reutann means drop the TargetFramework on the PCL/Shared Project to .Net Standard 1.3.

I think :)

[2018-04-27 15:00] reutann commented on #8
We're shipping a fix to nuget.org today or Monday! Thanks for reporting this @rzdebskiy

[2018-04-27 15:00] #8 closed

[2018-05-25 10:30] rzdebskiy opened #10 "Visual Studio hangs on next NuGet add after adding Microsoft.Intune.MAM.Remapper.Tasks"
Visual Studio 2017 v15.7.2  after adding Microsoft.Intune.MAM.Remapper.Tasks hangs on the next NuGet package add and solution close/open operation.

Repro steps - VS 15.7.2
1. New Project -> Cross-Platform -> Mobile App (Xamarin Forms)
2. Code Sharing Strategy Dialog -> .NET Standard
3. Right click on Android project -> Manage NuGet packages->
4. Add Microsoft.Intune.MAM.Xamarin.Android NuGet pack

[2018-05-25 10:31] rzdebskiy commented on #10
@reutann could you please take a look, this issue is reproduced both on 2 customer PCs as well as on mine PC.

[2018-05-30 13:54] rzdebskiy commented on #10
Here is mine:
Microsoft Visual Studio Enterprise 2017
Version 15.7.2
VisualStudio.15.Release/15.7.2+27703.2018
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Enterprise

Application Insights Tools for Visual Studio Package   8.12.10405.1
Application Insights Tools for Visual Studio

ASP.NET and Web Tools 2017   15.0.40511.0
ASP.NET and Web Tools 2017

ASP.NET Core Razor Language Se

[2018-05-31 01:14] scastria opened #11 "No items were found for query"
I need some help configuring my Xamarin.Forms iOS app to integrate with Intune SDK.  My app has already been using ADAL v2 to authenticate users.  Here are my issues:

1. The Intune SDK docs for Xamarin.iOS mention ADAL but do not say v1 or v2.  Does it matter?
2. When filling out the keychain access groups, I already had my wildcard with group prefix present as required by ADAL v2.  So all I adde

[2018-05-31 15:39] Kyle-Reis commented on #11
Hey @scastria. Are you using Windows or Mac for development? If you're using Windows, take a look at issue #6 and the workaround mentioned there. This issue will be addressed in our next release so you won't need to do this moving forward.

1.) We support ADAL v2, however the current version of the native SDK that is included in the bindings only supports up to version 2.5.4. We will support ADAL

[2018-06-01 15:51] Kyle-Reis commented on #6
Addressing this issue required changes in both Xamarin and our NuGet package. The fix for this issue is now available in version 3.0.4072.4 of the Microsoft.Intune.MAM.Xamarin.iOS NuGet package, which requires version 15.7+ of Visual Studio for Windows

[2018-06-01 15:51] #6 closed

[2018-06-05 19:29] Kyle-Reis commented on #11
Ah, by ADAL v2, I thought you meant that you had created a Xamarin Bindings for version 2.x of  [ADAL for objective-C](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases). I did not realize the you meant the AAD v2 endpoint. The Microsoft.Identyity.Client NuGet package you are using is a pre-release version of MSAL for .Net, which we do not yet support. Our NuGet package do

[2018-06-06 06:29] scastria commented on #11
I think I have to give up.  This seems to be over my head.  Here is what I attempted:

1. Removed the Identity client nuget package and tried to build
2. Got build errors in my usage of AcquireTokenAsync which was coming from the Identity client nuget package and the v2 endpoint.
3. Got build errors in my AppDelegate where I had to override OpenUrl to handle the authentication continuation used by

[2018-06-12 14:08] Kyle-Reis commented on #11
Yes, the built-in version of ADAL talks to the v1 endpoint, and I believe you are correct in that there are separate registration portals for apps which use the v1 and v2 endpoints. The Intune SDK does not yet support the v2 endpoint, as there has not been a release of ADAL for Objective-C which supports the v2 endpoint, and MSAL for Objective-C is still in preview. To be notified of enrollment su

[2018-06-12 15:15] msintuneappsdk commented on #11
You can get access to the MAM service by using the following steps.
In the Azure portal
1.	Azure Active Directory resource
2.	Select the App registration they have set up for their workfolders application
3.	In settings under API Access select “Required permission”
4.	Click the “+Add” link
5.	Click “Select an API”
6.	In the search box enter “Microsoft Mobile Application Management”
7.	Select “Micr

[2018-06-26 17:40] scastria commented on #11
I am still waiting on the partner approval process.  It has been 3 weeks so far.  I just submitted another request.

I am not sure what the 9 step instructions above are for.  Is this a way to avoid having to wait for the partner approval process?  If so, which Azure portal is this referring to?  The v2 endpoint registration portal, the v1 endpoint registration portal, or something else?

Any luck

[2018-06-26 21:20] scastria commented on #11
Also, can you clarify the difference in app registration?  With UWP, iOS, and Android, I as the developer go to a common portal and register my app.  Anybody in the world can then download that app once I publish it to the respective app store.  There is nothing specific about the user of the app within the app itself.

with v2 endpoint (which I now know means MSAL and ADAL means v1 endpoint) had

[2018-06-26 23:21] scastria commented on #11
After playing around and testing using the V1 endpoint sample application Azure-Samples/active-directory-dotnet-native-multitarget, I was able to determine that registering this sample app in 1 AAD portal tenant still allowed users from a different AAD tenant to login to the app.  So somehow registering in 1 tenant makes it available to all other tenants??  Is that what availableToOtherTenants = t

[2018-08-07 03:54] GianLorenzetto commented on #10
I'm having the same issue, my VS / Xamarin versions are the same / similar to @rzdebskiy, which I notice are newer than those posted by @reutann.

Have you found a solution or work-around?

[2018-08-09 15:45] meghandaly commented on #10
Hi @GianLorenzetto,

We have found a solution and updated the Microsoft.Intune.MAM.Remapper.Tasks package in this repository. We expect to have the package uploaded to nuget.org by the end of the week.

Thanks @rzdebskiy for reporting this!

[2018-08-09 15:45] #10 closed

[2018-08-14 20:17] alexrainman opened #12 "IntuneMAMEnrollmentStatusCode equal to AuthRequired on iOS"
I get this message all the time and i cannot pass that point. I double and triple checked and i have Entitlements.plist and keychain-access-groups on it.

Any ideas?

[2018-08-17 15:59] alexrainman opened #13 "Feature request: provide a callback override to get token from ADAL"
Currently, the SDK cannot access ADAL token cache. This is not an issue in Android because of this:

[code]

Here i am returning the token that i previously acquired with ADAL.

Can we have something similar in iOS?

[2018-08-20 13:31] Kyle-Reis commented on #12
Hey @alexrainman, I take it you are using ADAL for .Net to authenticate?

[2018-08-20 15:26] alexrainman commented on #12
Also, LoginAndRegister never works for me.

[2018-08-20 17:53] Kyle-Reis commented on #12
The token cache sharing issue is actually between the .Net and native Objective-C versions of ADAL. Our bindings include the native version of ADAL, since they are just a wrapper around the native Intune SDK, which can only talk to that ADAL library. ADAL for Objective-C and ADAL for .Net do not yet share a common token cache. So, when your app authenticates using ADAL for .Net, the token it acqui

[2018-08-20 17:58] alexrainman commented on #12
So, the Intune SDK is a binding of the native obj-c and thats why it cannot access the token cache of ADAL .Net? When will this be solved? Will my feature request be considered? The app we have in production still works even in a brand new device.

[2018-08-20 18:10] Kyle-Reis commented on #12
Your production app uses ADAL for .Net and the Intune Xamarin bindings? Are you sure you didn’t bind the objective-c version of ADAL? Or call our LoginAndEnrollAccount API? The Objective-C Xamarin bindings were the recommended solution for Xamarin.iOS developers who wanted to use ADAL before ADAL for .Net became available, and is currently what we recommend for Xamarin.iOS apps looking to implemen

[2018-08-21 16:54] alexrainman commented on #12
@Kyle-Reis i need a solution for this problem asap. I tried to do a binding of the obj-c library but the app crashes on launch.

[2018-08-21 21:36] Kyle-Reis commented on #12
What exception is being thrown?

[2018-08-22 19:00] Kyle-Reis commented on #11
Yes, setting availableToOtherTenants = true should make the app work for users of different tenants (as it seems like you were able to verify). Is there anything else blocking you at this point?

[2018-08-27 13:55] alexrainman commented on #12
@Kyle-Reis can you offer a me some help to get the binding working? Or, a workaround to allow Intune access ADAL token cache?

[2018-08-27 15:06] alexrainman commented on #12
I posted my idea on UserVoice too: https://microsoftintune.uservoice.com/forums/291681-ideas/suggestions/35223268-xamarin-provide-a-callback-override-to-get-token

[2018-08-27 15:18] Kyle-Reis commented on #12
The token cache sharing issue is an ADAL issue, not an Intune one. The right place to file an issue on that would be [here](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues). The reason things work on Android is because the ADAL team has implemented a common token cache on that platform. Until they do the same for iOS, binding the Objective-C version of ADAL is the only w

[2018-08-27 15:21] Kyle-Reis commented on #13
This is essentially a duplicate of issue #12.

[2018-08-27 15:21] #13 closed

[2018-08-27 15:28] alexrainman commented on #12
I know the issue is not related with Intune but, if you guys offer a way to override where Intune MAM SDK gets the token from, like in Android, then i don't need a binding. A binding will break how i use the library from shared code.

[2018-08-27 15:28] Kyle-Reis commented on #12
OK, Could you share the stack trace from the crash? Where did the .a come from?

[2018-08-27 15:32] Kyle-Reis commented on #12
There is a way to override where the native version of ADAL (included in our bindings) will search for tokens (via an info.plist setting), and I have already asked the ADAL team about this possibility, but it seems that the format of the two token caches differs, so that approach won't work either :(

[2018-08-27 15:36] alexrainman commented on #12
No StackTrace. I did the .a myself from a cocoapod. Tried from the repo but there are a lot of dependencies missing. If i can get the correct .a and the headers, i can do the binding myself.

What is the info.plist setting?

[2018-08-27 17:18] Kyle-Reis commented on #12
You would need to set ADALCacheKeychainGroupOverride in the IntuneMAMSettings dictionary: https://docs.microsoft.com/en-us/intune/app-sdk-ios#configure-settings-for-the-intune-app-sdk

This is meant for apps which override the default keychain access group used by Objective-C ADAL for the token cache. I don't think it'll work for this scenario, as I've been told the cache formats are different.

[2018-08-27 17:41] Kyle-Reis commented on #12
To build the .a, could you try the following:

1.) Download [ADAL for Objective-C version 2.6.5](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.6.5)
2.) Open ADAL.xcworkspace in Xcode
3.) Change the build target to "ADALiOS"
4.) Change the build configuration from Debug to Release
5.) Build for any simulator
6.) In the project explorer, expand ADAL -> Products
7.)

[2018-08-27 19:53] alexrainman commented on #12
This seems to work but i am getting an error trying to create this:

[code]

StackTrace:

[code]

[2018-08-27 20:03] alexrainman commented on #12
I changed it to:

[code]

And now i get this error:

[code]

[2018-08-27 20:16] Kyle-Reis commented on #12
What do your bindings for the ADAuthenticationContext and ADAuthentication error constructors look like?

[2018-08-28 15:16] Kyle-Reis commented on #12
What is the value of the Authority string? I was hitting an InvalidArgument exception as well, and I found that the native ADAL SDK explicitly throws this exception on line 51 of ADAuthenticationContext+Internal.m, when the authority string fails to canonicalize. Make sure the authority string you pass in is a valid URL, which uses the "https" protocol, and has at least one path component after th

[2018-08-28 15:36] alexrainman commented on #12
It is a valid authority with the format you just mentioned.

[2018-08-28 15:39] Kyle-Reis commented on #12
Did you just change it to this format? I found that I had to do a clean build after changing mine.

[2018-08-28 15:59] alexrainman commented on #12
No

[2018-08-28 16:07] Kyle-Reis commented on #12
Have you tried cleaning and rebuilding?

[2018-08-28 16:12] alexrainman commented on #12
Yes.

[2018-08-28 16:18] alexrainman commented on #12
Same error no matter what i do.

[2018-08-28 17:07] alexrainman commented on #12
I think i made it work. I added the library as a file, not as a Native Reference and i changed:

[code]

to:

[code]

Now trying to make it async.

[2018-08-28 21:33] alexrainman commented on #12
Got it working :)

Just added [Async] to some methods in the APIs definitions and i have it working :)

[2018-08-28 21:33] alexrainman commented on #12
Thank you for your support.

[2018-08-28 21:37] Kyle-Reis commented on #12
Great to hear 🙂 Let us know if you run into any more issues!

[2018-08-28 21:37] #12 closed

[2018-08-28 22:15] alexrainman commented on #12
I have another issue. ADKeychainTokenCache always return empty.

[2018-08-28 23:59] alexrainman commented on #12
I verified that i can get a token but, it seems not be saved in the cache.

[2018-08-29 13:16] Kyle-Reis commented on #12
Is the call to IntuneMAMEnrollmentManager.Instance.RegisterAndEnrollAccount working?

[2018-08-29 13:39] alexrainman commented on #12
Interesting. The call to MAM works now but, i get MAMEnrollmentStatusInternalError.

[2018-08-30 04:07] alexrainman commented on #12
I tested in another app and everything is working just fine.

[2018-08-31 13:49] Kyle-Reis commented on #11
Closing out this issue as it seems there is no longer anything blocking.

[2018-08-31 13:49] #11 closed

[2018-09-04 18:28] alexrainman commented on #5
Debugging the application with the Company Portal not installed doesn't works for me, neither disabling CheckJNI :(

[2018-09-04 18:34] alexrainman commented on #5
When will this be solved?

[2018-09-04 18:49] alexrainman commented on #5
This is the code that makes the app crash:

[code]
This is the StackTrace:

[code]

And my MAMNotificationReceiver implements IMAMNotificationReceiver.

[2018-09-04 18:59] alexrainman commented on #5
If i try to debug without Company Portal i get COMPANY_PORTAL_REQUIRED.

[2018-09-05 12:56] meghandaly commented on #5
Hi @alexrainman, we currently do not have a scheduled date for releasing a fix though we are currently, actively working on updates to our bindings and the remapper.

In the meantime, would it be possible for you to debug your application on a pre-API 23 device?

[2018-09-28 06:43] Aparnakalyani opened #14 "Need a sample application for Intune app sdk in Xamaring Bindings for Xamarin forms android"
I have an Android application developed in Xamarin forms, and i have to integrate the intune App SDK. I am trying to follow the Guide, but I would also like to have a sample app on the  Intune Integration -Xamarin Bindings for Android APP in Xamarin Forms.

I tried with App Wrapping Tool to wrap the Xamarin application, but the app is crashing.
Can anyone help me out with sample application for Xa

[2018-10-02 19:28] msintuneappsdk commented on #14
Hi @Aparnakalyani, thanks for your post. The Intune App Wrapping Tool for Android does not support Xamarin based apps so you would have to use the Intune Xamarin Bindings. We are working to get some sample apps released for Xamarin.Android and Forms and are targeted for releasing in Q4 2018. They will be posted on the msintuneappsdk GitHub once they are available.

[2018-10-02 19:28] #14 closed

[2018-10-23 06:14] arggrande commented on #7
Howdy folks, just wondering where the above file can be found? its returning a 404 currently and I cant see where else the file could be sitting?

[2018-10-23 14:05] meghandaly commented on #7
Hi @arggrande,  the above file can be found at [Microsoft.Intune.MAM-3.0.0.0.xam](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/blob/a1cf9b8528f77937292487b2f6f0f21ab2bc6048/Microsoft.Intune.MAM-3.0.0.0.xam). You encountered the 404 error because Xamarin Components are no longer supported and [we removed ours](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/commit/095319f36b979

[2018-10-31 13:56] alexrainman commented on #12
I am back to this error while converting a new app to MAM.
ADAL is working fine but MAM SDK cannot access its token cache.

I want to use LoginAndEnrollAccount but i get an error:

[code]

What i am missing?

[2018-10-31 14:01] aanavath commented on #12
Have you followed the steps here for granting permission to the Microsoft Mobile Application Management API? https://docs.microsoft.com/en-us/intune/app-sdk-xamarin#requiring-intune-app-protection-policies-in-order-to-use-your-xamarin-based-android-lob-app-optional

[2018-10-31 22:07] alexrainman commented on #12
That worked. Thanks

[2018-11-01 15:20] andycouzens-egress commented on #5
Very similar error here:

JNI DETECTED ERROR IN APPLICATION: the return type of CallVoidMethodA does not match void com.microsoft.intune.mam.policy.MAMEnrollmentManager.registerAuthenticationCallback(com.microsoft.intune.mam.policy.MAMServiceAuthenticationCallback)

Can't get it to work on devices or emulators, when will this be fixed, I'm unable to deliver this project until this issue is fixed.

[2018-11-13 23:30] Kyle-Reis commented on #11
Hey @scastria, just wanted to let you know that SSO between MSAL for .Net and the Intune Xamarin.iOS bindings is now supported in the latest releases of each package. See our [updated documentation](https://docs.microsoft.com/intune/app-sdk-xamarin) for more info

[2018-11-14 00:40] scastria commented on #11
AWESOME!!

[2018-11-15 16:53] Kyle-Reis commented on #12
Hey @alexrainman, just wanted to let you know that SSO between ADAL for .Net and the Intune Xamarin.iOS bindings is now supported in the latest releases of each package. See our [updated documentation](https://docs.microsoft.com/intune/app-sdk-xamarin#enabling-intune-app-protection-polices-in-your-ios-mobile-app) for more info.

[2018-12-06 16:35] alexrainman commented on #12
@Kyle-Reis can you tell me which version of each package should I use to make it compatible? Version 8.x of the SDK on iOS throws a lot of compilation issues so, I have to stay with 3.0.4072.4.

I updated ADAL to latest in iOS and still MAM SDK cannot find the token so I get AuthRequired.

[2018-12-06 16:42] Kyle-Reis commented on #12
Hey @alexrainman, you'll need to use [version 8.1.1.1](https://www.nuget.org/packages/Microsoft.Intune.MAM.Xamarin.iOS/8.1.1.1) of the Intune Xamarin.iOS bindings. What compilation errors are you getting? When you say you updated ADAL to the latest, you mean [ADAL for .Net](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory), right?

[2018-12-06 17:19] Redth commented on #5
Can someone provide a simple solution which reproduces this crash?

[2018-12-06 19:48] alexrainman commented on #12
@Kyle-Reis
 there's something I have been doing while calling RegisterAndEnrollAccount that now has become very slow with latest version and, that is calling UnRegisterAndEnrollAccount.

If I don't do that, the second time I launch the app and call RegisterAndEnrollAccount, Intune never answers back.

Any advice?

By the way, no crashed with latest version.

Also, I ADAL .Net throws exception when

[2018-12-06 20:17] Kyle-Reis commented on #12
@alexrainman, you shouldn't need to re-register/enroll the account on each app launch. Registration for silent enrollment with the SDK is persisted across app launches. Once an account is enrolled in the MAM Service, the enrollment should also persist across app launches. If an enrollment that was initiated with this API fails, the SDK will automatically retry the enrollment every 24 hours. If an

[2018-12-06 21:49] alexrainman commented on #12
@Kyle-Reis it actually happens randomly in both platforms the first time I try to register and enroll account. If I don't call unregister, Intune never answers back.

Android example:

[code]

[2018-12-07 16:37] Kyle-Reis commented on #12
What do you mean by "never answer's back"? Is it that the enrollment delegate is never called? If so, my guess is that you had some cached state on the device/simulator from a previous time you tested the app, and the user was already registered with the SDK, hence we don't attempt the registration/enrollment again.

Also, to detect when app config or policy has changed, you should observe the Int

[2018-12-10 22:22] alexrainman commented on #12
@Kyle-Reis do I really need to listen to Policy changes and handle them myself? My understanding is that the SDK manage that for you.

I am more interested in handling listening to configuration changes.

When I say "never answer's back" I mean: I don't get any notifications back after requesting registration and enrollment, and that happen in a brand new device/emulator, unless I call unregister

[2018-12-10 22:46] alexrainman commented on #12
By the way, what type is sender in this events?

[2018-12-11 16:05] Kyle-Reis commented on #12
@alexrainman, for the most part, the SDK will handle policy enforcement, but there are some exceptions where the app may need to query policy values and enforce the policy itself, depending on its functionality:

https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/blob/master/Headers/IntuneMAMPolicy.h

You can see an example in our [sample Xamarin.iOS app](https://github.com/msintuneappsdk/sam

[2018-12-11 16:11] alexrainman commented on #12
What about IntuneMAMEnrollmentManager.Instance.RegisteredAccounts in Android?

[2018-12-13 20:09] Kyle-Reis commented on #12
@alexrainman, for Android the Enrollment Manager has an API called GetRegisteredAccountStatus(), which will return null if the account provided has not been registered with the SDK.

You can read more about it here:
https://docs.microsoft.com/intune/app-sdk-android#registration

Here is some sample code:
IMAMEnrollmentManager manager = MAMComponents.Get<IMAMEnrollmentManager>();
MAMEnrollmentManag

[2018-12-14 17:09] Kyle-Reis commented on #12
Hey @alexrainman, GetRegisteredAccountStatus can tell you whether an account has been registered with the SDK for silent/automatic enrollment (even if a successful enrollment attempt has not yet occurred) as well as the status of the last enrollment attempt, while GetPrimaryUser will only tell you if there is currently an enrolled user and what their UPN is.

[2019-01-25 20:20] meghandaly commented on #5
@jonathanpeppers For the issue to reproduce the Intune Company Portal needs to be present on the device. Was it present when you attempted to repro? It can be downloaded from the Google Play Store if not.

[2019-01-25 21:19] meghandaly commented on #5
@jonathanpeppers I just opened a PR into your app with the necessary changes.

[2019-01-25 22:33] alexrainman commented on #5
@jonathanpeppers i just saw these. For now i am debugging without the Company Portal. Keep us posted. Thanks

[2019-01-28 07:08] quantumarun opened #15 "Integrated Intune SDK for Android not working as intended (Xamarin.Forms)"
My Application is based on Xamarin.Forms and i have followed the guide at https://docs.microsoft.com/en-us/intune/app-sdk-xamarin to integrate Intune SDK for both iOS and Android. iOS integration is successful as on launching the application it first launches the AD Login Page and then if i have set the minimum OS version in Protection Polices then it throws out an alert and dismisses the app.

Bu

[2019-01-28 08:32] quantumarun commented on #15
Found the solution. This issue can be closed.
Missed to mention the meta-data in manifest file. For others facing this kind of issue check if meta-data in manifest file.

[2019-01-28 08:32] #15 closed

[2019-01-30 16:29] alexrainman opened #16 "MAM SDK cannot find ADAL tokens if they come from a test tenant (eg. my.onmicrosoft.com)"
We have a test tenant with that format. I can successfully login with ADAL and acquire tokens but, MAM SDK cannot find them.

Any ideas?

[2019-01-30 16:33] Kyle-Reis commented on #16
Hey @alexrainman, this is on iOS?

[2019-01-30 16:35] alexrainman commented on #16
Yes, as Android give the option to provide the SDK where the token is coming from.

[2019-01-30 16:36] Kyle-Reis commented on #16
Are you specifying any ADAL settings under the IntuneMAMSettings dictionary in the app's Info.plist or dynamically via our override APIs?

[2019-01-30 16:43] alexrainman commented on #16
I do both but I think the ones under IntuneMAMSettings are not used at all as I use ADAL for authentication and I have the settings in the authenticator class.

Which override APIs are you referring?

[2019-01-30 16:49] Kyle-Reis commented on #16
I'm referring to the IntuneMAMPolicyManager.Instance.AAD*Override properties. Do you set any of those? What do you have specified for an authority under the IntuneMAMSettings?

[2019-01-30 17:07] alexrainman commented on #16
NO, I am not using the AAD overrides.

Authority looks like this:

[code]

The thing is as soon as I change the tenantid to our production environment then everything works as expected.

[2019-02-03 08:41] quantumarun opened #17 "Getting Error "This app has not been set up for you to use. Contact your IT administrator for Help." Only on Android"
Hi Team,
I am able to integrate Intune SDK for Xamarin successfully for both iOS and Android.
On iOS things are working fine as when i can see the device/user details on Intune portal for the app as will as App Protection Policies are working.

But on Android i am always getting the alert "This app has not been set up for you to use. Contact your IT administrator for Help."
This happens after the

[2019-02-05 08:36] quantumarun commented on #17
Answer to both questions is YES.
Also i could not see any details under Monitor as well for Device install status and User install status.

<img width="1701" alt="screen shot 2019-02-04 at 9 27 08 am" src="https://user-images.githubusercontent.com/5046311/52261379-a7b8d780-2942-11e9-992e-e7bd796055cb.png">
<img width="1695" alt="screen shot 2019-02-04 at 9 27 18 am" src="https://user-images.github

[2019-02-06 15:50] alexrainman opened #18 "Intune MAM SDK with Couchbase.Lite.Storage.SQLCipher (linker errors)"
I get linker errors when I try to use Intune MAM SDK with Couchbase.Lite.Storage.SQLCipher:

[code]

Any ideas?

[2019-02-06 16:18] Kyle-Reis commented on #18
@alexrainman, it looks like both static libraries hook the sqlite3_vfs_register() and sqlite3_vfs_unregister() methods, leading to a symbol conflict. We can (and will) make a change on our end to avoid this conflict, but it might take some time to get the release out as we'll need to run a full test pass before that can happen. One way you could potentially work around this would be to use our [ap

[2019-02-06 17:07] Kyle-Reis commented on #16
Are you using a custom client ID as well?

[2019-02-06 17:10] alexrainman commented on #16
Custom client ID?

[2019-02-06 17:11] alexrainman commented on #18
Using the app wrapper is not an option for us. I contact you guys this way because it is faster but, I work for Schlumberger and we will be soon the biggest customer MSFT will have on Intune.

We are counting on your help, as always.

[2019-02-06 17:23] Kyle-Reis commented on #16
When your app authenticates, it must provide a client ID to AAD, have you specified that client ID in the IntuneMAMSettings?

[2019-02-06 17:25] alexrainman commented on #16
Yes. I dont have an issue with that. It is not the client id. I get Auth Required, mam sdk cannot find the tokens.

[2019-02-06 17:30] Kyle-Reis commented on #16
Do you use the same client ID when changing tenants?

If so, in the app registration for this client ID in Azure Portal, is the following set?

availableToOtherTenants = true

[2019-02-06 20:27] alexrainman commented on #16
What availableToOtherTenants means?
For now I switch client ID.

[2019-02-06 20:38] alexrainman opened #19 "Application developers call IntuneMAMDataProtectionManager APIs for all Org Data."
Can you provide an example on how to use this class?

https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/blob/master/Headers/IntuneMAMDataProtectionManager.h

[2019-02-06 20:40] Kyle-Reis commented on #16
availableToOtherTenants means the client app is allowed to authenticate and access resources on other tenants. If this setting is not enabled, the app will only be able to access resources on the tenant where its app registration is defined.

The client ID you switch to is defined in the test tenant? Has it been granted access to the MAM Service API using [these steps](https://docs.microsoft.com/i

[2019-02-06 20:45] alexrainman commented on #16
Do you have to do anything specific to make an app id available in other tenants? I mean from configuration perspective in the tenant itself.

Yeah, i update app id eveywhere and run the app in a clean device.

[2019-02-10 07:50] quantumarun commented on #17
Team,
Any help on this?

[2019-02-11 16:42] aanavath commented on #17
HI @quantumarun, can you please send an email to msintuneappsdk@microsoft.com with some of the following information:
- What version of the Android Company Portal is on the device? Are you using the latest one?
- Once Company Portal is installed, can we get the logs sent to us using these instructions: https://docs.microsoft.com/en-us/intune-user-help/send-logs-to-your-it-admin-by-email-android
-

[2019-02-11 17:28] Kyle-Reis commented on #16
If you look at the app registration manifest in Azure portal, you should see the following set:

 "availableToOtherTenants": true

I believe this setting is enabled by default.

Since you are changing the client ID to one that is defined in the test tenant, this is likely not your issue. When you change the client ID, do you also change the redirect URI to what is defined for the app registration

[2019-02-11 18:16] alexrainman commented on #16
Yes. I also change that. What i see during debug is that i am actually getting a token. It seems MAM SDK doesn’t understand it or cannot find it.

[2019-02-11 18:20] Kyle-Reis commented on #19
Hey @alexrainman, here is some info on these APIs: https://docs.microsoft.com/intune/app-sdk-ios#shared-data. Only apps which support multi-identity (managed + unmanaged personal accounts) should need to call these APIs. Is that the case for your app?

[2019-02-11 19:13] alexrainman commented on #19
Yeah, we may have that use case. Thanks for sharing.

[2019-02-11 19:13] #19 closed

[2019-02-11 19:14] alexrainman commented on #18
We switched to Couchbase.Lite.ForestDB storage engine for now as a workaround but, we will love to have a hot fix from you guys. Thanks

[2019-02-11 19:31] Kyle-Reis commented on #18
We’ve already made the fix on our end. It should be available in an upcoming release.

[2019-02-11 19:33] alexrainman commented on #18
That's awesome. Thanks

[2019-02-13 11:31] quantumarun commented on #17
As said details send to the email address mentioned.

[2019-02-13 14:33] Kyle-Reis commented on #16
Is the app signed the same when you test using the test tenant as when using the production tenant?

[2019-02-13 20:17] alexrainman commented on #16
Yes :)

[2019-02-13 20:21] alexrainman opened #20 "Feature request: make Device PIN required in Android on Intune MAM only scenario if "Encrypt App Data" setting in the Intune App Policy is set to "Yes""
If "Encrypt App Data" setting in the Intune App Policy is set to "Yes" then, a Device PIN will be required in iOS. The SDK can determine the existence of a device PIN but not its complexity, which is fine.

If device PIN is not enabled, the access to MAM SDK enabled apps will be blocked.

We need the same "user experience"/behavior in Android.
No matter if the Device PIN is not used for encryption

[2019-02-13 20:23] alexrainman commented on #20
I found a way to do this in Android but we don't want to leave that into the hands of our developers but in the SDK we trust.

[2019-02-13 22:36] msintuneappsdk commented on #20
@alexrainman Thanks for your feedback. We don't have any plans to enforce a device PIN using app protection policies today. The reason for the difference between iOS and Android is more of a platform requirement than a design choice.

In the future, Feature Requests should be added to [Intune UserVoice](https://microsoftintune.uservoice.com/forums/291681-ideas?category_id=148986). GitHub issues is

[2019-02-13 22:36] #20 closed

[2019-02-13 22:37] msintuneappsdk commented on #17
Closing issue as it was reported via email that the app is indeed getting policies after some time. The lack of reporting is likely due to these apps being deployed as Available or With or Without Enrolment.

[2019-02-13 22:37] #17 closed

[2019-02-25 06:19] sateeshmcs opened #21 "Microsoft Intune integration with MVVM Cross in Xamarin Android"
Hello,

Is there any samples or useful links for Intune integration with mvvm cross in Android.
I didn't find any wrapper for Intune + MVVMCross.

Unfortunately MVVMCross requires you to inherit from it's own base classes for things like application and activities etc. So as it stands we can't see how we achieve Intune integration without either rewriting our to not use MVVMCross or to take a fork

[2019-03-07 14:44] meghandaly commented on #5
MAM integrated Xamarin applications can be successfully debugged if the `Debuggable = false` attribute is added to the Application class.

For example:
[code]
Many thanks to @jonathanpeppers who discovered this workaround. The Android MAM and Xamarin teams are continuing to investigate the underlying issue that causes the application to crash while in Debug mode.

@alexrainman can you confirm this

[2019-03-12 14:36] alexrainman commented on #5
NO, it doesn't. Yes, no crash but no debugging neither.
What's the point?

[2019-03-12 14:42] meghandaly commented on #5
@alexrainman When the tag was added to our test applications we were able to debug. See [the workaround in Jon's app.](https://github.com/jonathanpeppers/IntuneRepro/tree/workaround)

Would you be willing to share a sample that repros the scenario you are describing? Also, are you testing on a physical device or emulator? And what API?

[2019-03-12 14:43] alexrainman opened #22 "Can the Company Portal requirement been removed?"
Now that Managed Google Play is supported without device enrollment this requirement should be removed. It may solve the debugging issue under API 23 and above.

[2019-03-15 18:34] msintuneappsdk commented on #22
Hi @alexrainman, regardless of Managed Google Play being supported without device enrollment, the Company Portal on Android still remains a requirement to receive App Protection Policies for apps integrated with the Intune SDK. Here is some documentation that [calls out this existing requirement](https://docs.microsoft.com/en-us/intune/end-user-mam-apps-android). UserVoice is a better channel than

[2019-03-15 18:34] #22 closed

[2019-03-21 12:26] sureshbabu4 opened #31 "Microsoft.Intune.MAM.Xamarin.iOS.8.1.1.2 IntuneMAMConfigurator -i Info.plist -e " exited with code 255. (MSB3073)"
Hi Team,

I got the error like this  packages/Microsoft.Intune.MAM.Xamarin.iOS.8.1.1.2/build/xamarinios10/IntuneMAMConfigurator -i Info.plist -e " exited with code 255. (MSB3073)

Sample Project I am tried.

Please help me

Thanks in Advance

[2019-03-22 16:30] alexrainman commented on #5
@meghandaly I got a device with API 22 to see if I can finally have debugging working but, it seems my efforts were in vain:

<img width="366" alt="Screen Shot 2019-03-22 at 11 28 54 AM" src="https://user-images.githubusercontent.com/3793554/54838126-df32d780-4c95-11e9-9eea-fa636bd4ace7.png">

[2019-03-22 16:38] meghandaly commented on #5
@alexrainman Can you relay the specifics of the API 22 device?

Also, were you able to debug the small app Jon developed that I posted above? That app should be debuggable regardless of API.

[2019-03-22 16:41] alexrainman commented on #5
I applied the fix and the app doesn't crash but I cannot debug.

[2019-03-22 16:45] meghandaly commented on #5
@alexrainman To clarify, you applied the fix to the app you are developing? Have you checked out Jon's app and attempted to debug in your environment? We are looking to determine deltas between either the apps or development environments to aide in our investigation.

[2019-03-26 20:36] alexrainman commented on #5
I can confirm the workaround works. I just added:

[code]

To my MainApplication and I am able to debug on API 23+ with Company Portal. No crashes.

It didn't work before because I had ```android:debuggable="true"``` on my Manifest.

[2019-03-26 20:44] alexrainman commented on #5
Also, that annotation avoid other JNI crashes related to the MAM SDK, like when I try to get the Policy:

[code]

I get:

[code]

[2019-03-28 14:19] sureshbabu4 opened #23 "How to do the Single Sign On Process in Xamarin.iOS with Broker or Without Broker."
Hi Folks,

Could you please help me to get Single Sign on with or without broker in Xamarin.iOS.
I had read from the some active directory link, but I didn't understand that process,if any one know please suggest the briefly explained steps with Intune account has logged in with ADAL Sign in. I think to write the code in app delegate with  Intune Enrolment. Please suggest to me with exactly steps.

[2019-03-28 14:23] Kyle-Reis commented on #23
Hey @sureshbabu4 to enable SSO between your app and the Intune SDK, please see step 4 here: https://docs.microsoft.com/intune/app-sdk-xamarin#enabling-intune-app-protection-polices-in-your-ios-mobile-app

[2019-03-28 14:31] sureshbabu4 commented on #23
@Kyle-Reis, Thanks a lot for Good Suggestion, I am little bit confused to Catches will do in Info.plist or any code. if you don't mind please provide that  information for Xamarin.iOS steps with ADAL, SSO with or without Broker.I have followed the link it may be for Web application not for Xamarin.

Thanks in Advance.

[2019-03-28 14:54] Kyle-Reis commented on #23
Hey @sureshbabu4, those are the steps for enabling SSO between the Intune Xamarin.iOS bindings and ADAL/MASAL for .Net in a Xamarin.iOS app. I'm not sure why you think they are for a web app? Could you explain what exactly you are confused about? That will help to make sure I can answer the specific questions you have.

[2019-03-28 17:47] sureshbabu4 commented on #23
@Kyle-Reis,  Great Answer, Thanks a Lot, Just confirm to me, if I am wrong any of these.
 I need to declare the Adal Cache(com.microsoft.adalcache) and Mam Cache(com.microsoft.intune.mam) in enable key sharing in entitlement .plist,
and Adal client id ,Adal authority,Adal redirect Uri add to IntuneMAMSettings as a Dictionary add  to Info.List. Then after process I am little bit confused, to write

[2019-03-28 18:10] Kyle-Reis commented on #23
It sounds like you are on the right track. The next step would be to write some code to actually initiate the enrollment. Before doing this, I just want to verify that your app is already using ADAL or MSAL for .Net to authenticate? If so, which version?

[2019-03-28 18:17] sureshbabu4 commented on #23
@Kyle-Reis, Thanks, now I am using  ADAL 3.19.8 version.
Please help to get out.

Thanks in Advance.

[2019-03-28 18:30] Kyle-Reis commented on #23
Single-sign-on between that version of ADALfor .Net and the Intune Xamarin.iOS bindings is not supported. I recommend you update to the latest stable version, which is currently 4.5.1:
https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory

Once you do this, the KeychainSecurityGroup property referenced in the documentation for our Xamarin.iOS bindings should be available t

[2019-03-28 22:02] meghandaly commented on #5
@alexrainman Thank you for confirming that the workaround resolved the issue.

[2019-03-28 22:27] #5 closed

[2019-03-29 14:21] sureshbabu4 commented on #23
@Kyle-Reis, Thanks for Suggestion,  I have to doubt where can I need to set the KeychainSecurityGroup property of AuthenticationContext to the same value in all the applications.

I have been  followed the below Reference URL for Above Clarification.

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization#enable-token-cache-sharing-across-ios-application

[2019-03-30 11:43] sureshbabu4 commented on #23
@Kyle-Reis,Could you Please help me.for above clarification.

[2019-04-02 19:09] alexrainman opened #24 "MAM SDK cannot find tokens acquired with a refresh token"
@Kyle-Reis I need your help in this one.

I still using ADAL obj-c bindings. It is way faster that the .Net counterpart.

I have this use case where I need to get a token with a refresh token, something you can do with ADAL obj-c but, even with the token in the token cache, MDM SDK cannot find it.

[code]

Any ideas?

[2019-04-02 21:39] alexrainman opened #25 "Enrollment in Android not accepting tokens for https://graph.windows.net"
Enrollment in Android is not accepting tokens acquired by ADAL with ```https://graph.windows.net``` as audience.

It is asking me for ```https://msmamservice.api.application``` instead but, when I try to get a token for that resource I get:

[code]

Is there any permissions I am missing?

[2019-04-05 14:19] alexrainman commented on #25
Got it working.

[2019-04-05 14:19] #25 closed

[2019-04-05 14:20] alexrainman commented on #24
Got it working.

[2019-04-05 14:20] #24 closed

[2019-04-18 16:07] Kyle-Reis commented on #18
Hey @alexrainman, sorry, I just noticed your last comment. The fix should be available in [today's release](https://www.nuget.org/packages/Microsoft.Intune.MAM.Xamarin.iOS/) (10.0.7)

[2019-04-18 16:10] Kyle-Reis commented on #16
Hey Alex, are you still having this issue?

[2019-04-18 16:14] alexrainman commented on #18
This is fixed now. Thanks

[2019-04-18 16:14] #18 closed

[2019-04-18 16:14] alexrainman commented on #16
Yes.

[2019-04-18 16:19] Kyle-Reis commented on #16
If you switch to calling LoginAndEnrollAccount, with the ADAL settings configured for you your test tenant under IntuneMAMSettings, what happens?

[2019-04-18 17:25] msintuneappsdk commented on #21
Hi @sateeshmcs, in the past our team has investigated developing apps with MVVM Cross and have determined that they cannot exist with MAM integration. Another customer who had developed MVVM Cross apps is investigating using MVVM Light or Xamarin.Forms itself. We will update our documentation to clarify this.

[2019-04-18 17:25] #21 closed

[2019-04-25 09:29] AkshaySLB opened #26 "Microsoft.Intune.MAM: SDK could not access the user's AAD token For Xamarin iOS app"
I have implemented Microsoft.Intune.MAM.Xamarinn.iOS package into my Xamarin solution and have followed the steps mentioned in the document for enabling Keychain and entered in Entitlements.plist. ADAL is working fine and I'm able to get token. Somehow Microsoft.Intune.MAM package is not able to get AAD token. I'm getting below error:

**info.plist contains:**
IntuneMAMSettings
LSApplicationQuerie

[2019-04-25 12:19] Kyle-Reis commented on #26
Hey @AkshaySLB, which version of ADAL for .Net are you using? Did you follow the instructions to set the KeychainSecurityGroup on the AuthenticationContext mentioned in step 4 below?

https://docs.microsoft.com/intune/app-sdk-xamarin#enabling-intune-app-protection-polices-in-your-ios-mobile-app

Note: that property requires that the Team ID prefix is included. So the value you set should looks som

[2019-04-25 16:39] alexrainman opened #27 "MAM SDK cannot find tokens from one Application ID while it can for other"
I have this app with ADAL and MAM integrated. We registered a brand new application on AAD but MAM SDK cannot find the tokens ADAL acquires using that application id while it can find tokens acquired with another app id that is already proven to work.

I compared the tokens from both app ids and I cannot find any differences.

We checked the AAD apps and couldn't find anything there neither.
We tr

[2019-04-26 08:29] AkshaySLB commented on #26
I'm using 4.5.1 version for ADAL and yes I have followed the steps mentioned in the document but I'm using `IntuneMAMEnrollmentManager.Instance.RegisterAndEnrollAccount(string identity);` where I'm sending "identity" after successful login.

Entitlements.plist doesn't contains Team Id and instead it shows $(AppIdentifierPrefix) when I'm adding identifiers.

[2019-04-26 13:20] Kyle-Reis commented on #27
Hey @alexrainman, what do you mean by "providing permissions consent"? Did you update the client ID in both your app's acquire token call and the Intune settings? Did you also update the Redirect URI to match what is specified in AAD under the new app registration?

[2019-04-26 13:34] Kyle-Reis commented on #26
Your entitlements file looks good. At build time, the $(AppIdentifierPrefix) will get replaced with your team ID + "." The team ID is taken from your provisioning profile.

When you set the KeychainSecurityGroup property in code, you need to include the app ID prefix. If you are working on Mac, you should be able to find the prefix by running the following terminal command:

   codesign -d --entit

[2019-04-26 13:57] alexrainman commented on #27
In AAD you have to consent permissions for them to work and yes, app id and redirect url are the same in adal call and mam settings on info.plist.

[2019-04-26 15:32] AkshaySLB commented on #26
Yes, I'm able to see actual team Id using mentioned command.

Now coming back to our issue - how to fix this error: `The operation failed because the SDK could not access the user's AAD token. The application should prompt the user for credentials to refresh the user's AAD token.`

Is there any way I can check if com.microsoft.adalcache have AAD token or not?

[2019-04-26 23:49] Kyle-Reis commented on #26
Have you tried including the team ID prefix in the value you assign to the AuthenticationContext’s KeychainSecurityProperty?

[2019-04-29 09:17] AkshaySLB commented on #26
Yes I tried but it did not worked

[2019-05-03 08:03] AkshaySLB commented on #26
any updates on this?

[2019-05-06 08:21] AkshaySLB commented on #26
@Kyle-Reis we are stuck because of this issue, can you please let us know updates on this issue?

[2019-05-13 05:27] pete-cho opened #28 "Visual studio 2019 Android build fails on ResolveAssemblies task"
After migration a solution to visual studio 2019, the following error occurs when building:

packages\microsoft.intune.mam.remapper.tasks\0.1.4119.2\build\MonoAndroid10\Microsoft.Intune.MAM.Remapper.Tasks.targets(54,5): error MSB4044: The "ResolveAssemblies" task was not given a value for the required parameter "TargetFrameworkVersion".

[2019-05-14 12:05] meghandaly commented on #28
Hi @pete-cho, we are aware of this issue and it will be addressed in our next release.

In the meantime, if you add the lines:
[code]
to the `ResolveAssemblies` task in the Microsoft.Intune.MAM.Remapper.Tasks.targets file located at the path reported in the error your project should build properly.

Please be aware that those values will not be compatible with VS2017 so if you want to reopen the s

[2019-05-14 13:48] Kyle-Reis commented on #26
Hey @AkshaySLB, by any chance is your app authenticating via the MS Authenticator app?

[2019-05-14 13:52] Kyle-Reis commented on #27
Hey @alexrainman were you able to figure this out? If not, what happens if you use LoginAndEnrollAccount with all the same AAD settings? Are you able to successfully enroll then?

[2019-05-14 14:25] alexrainman commented on #27
Yes. The problem is MSFT added a new API that needs to be included in the permissions of every AAD app so it works with Intune.

[2019-05-14 14:25] #27 closed

[2019-05-15 10:37] Totonti commented on #28
Hi, I have change the Task.targets and now the error is :
\packages\microsoft.intune.mam.remapper.tasks\0.1.4119.2\build\MonoAndroid10\Microsoft.Intune.MAM.Remapper.Tasks.targets(94,5): warning : Unable to find method GetMethod on class Microsoft.Intune.Mam.Client.App.WrappedAppReflectionUtils with expected parameters

[2019-05-15 19:56] meghandaly commented on #28
Hi @Totonti that appears to be separate from this issue as it is a warning and not an error. Does your solution still not build? If so, can you post the error you are encountering?

[2019-05-16 07:54] Totonti commented on #28
Hi, sorry, it's true, now it's compiled correctly.
Now I have a question, for an Android application with MAM-WE
, we will use an application configuration policy: is it necessary to use ADAL and register the application in Azure to obtain the client ID?
In the documentation I have seen that a default ClientID of Intune can be used, is it possible?

[2019-05-16 15:42] meghandaly commented on #28
@Totonti all good, I am glad to hear it is compiling correctly. Thank you for checking.

You have two options for MAM-WE:
1. Register with ADAL and obtain a client ID.
2. Rely on [MAM default enrollment](https://docs.microsoft.com/en-us/intune/app-sdk-android#default-enrollment-optional), which is what the documentation has referred to as the default client ID.

I encourage you to take a look at o

[2019-05-17 07:54] Totonti commented on #28
ok, thank you!

[2019-05-22 05:46] rbev commented on #28
Given that we need this to build on the Azure Devops Hosted build agent modifying the .targets file from the nuget package isn't really a good option.

Is there any estimated timeframe for the release of this fix?

[2019-05-28 19:37] meghandaly commented on #28
Thank y'all for your patience. We have released an updated Remapper package that updates the targets file for VS2019 support. It is available here on GitHub and downloadable via NuGet.

[2019-05-28 19:37] #28 closed

[2019-05-29 14:02] Totonti opened #29 "iOS AppConfigForIdentity don't has the config values"
Hi,
In my Xamarin Forms iOS app I enrollment the user correctly but when I try to get the app config policy that I define in intune with the function: IntuneMAMAppConfigManager.Instance.AppConfigForIndentity don´t get anything in FullData.

But if I look into IntuneMAMPolicyManager.Instance in DiagnosticInformation I can see the config data. Can I use this to get the values?

Wich is the right met

[2019-05-30 13:24] Kyle-Reis commented on #29
FYI @Totonti, I've moved this issue to the correct repository, in the future please file all issues for our Xamarin bindings here.

Enrollment is still required for managed devices in order to receive app protection policies and MAM app config.

Now that I know we are dealing with MDM app config in this scenario, I think I know what the issue is :) It sounds like you haven't [configured the requir

[2019-05-30 20:13] Totonti commented on #29
Thanks @Kyle-Reis,
So, what I should do is add an IntuneMAMUPM key with the value {{UserPrincipalName}}, along with the rest of the keys, to the app's configuration. and when the user registers with LoginAndEnrollAccount I can use the enrollment account to get the app config values.
Is that correct?

[2019-05-30 20:14] Kyle-Reis commented on #29
Yes.

[2019-05-30 21:28] Totonti commented on #29
Ok, thanks, tomorrow i will try it.

[2019-05-31 17:26] dathway commented on #26
@Kyle-Reis Where is the AuthenticationContext where you set the KeychainSecurityGroup property? It wasn't clear to me from the docs where I set this, or what it looks like.

A bit of background on the app I'm working on: We are using Webview in Xamarin Forms and integrating with ADAL. Our goal here is to get the webview used in the app to be able to work with InTune. Step 4 in the docs you've link

[2019-06-03 15:29] Totonti commented on #29
Hi @Kyle-Reis,
I've been testing, putting the value in IntuneMAMUPN and I can not get it to work.
The following error occurs:
![Captura de pantalla 2019-06-03 a las 16 40 53](https://user-images.githubusercontent.com/46727161/58813089-5df7a980-8623-11e9-81c0-6e37c2a5999f.png)

Every time, the app asks me to introduce the user to register but it does not seem to get the enrollment.

[2019-06-04 16:53] Totonti commented on #29
Hi again,
I have continued testing to see if I saw the problem, I verified that with a managed app the LoginAndEnrollment works well and the AppConfigForIndentity function with the registered user correctly retrieves the values of the configuration policy of the app ( without the key IntuneMAMUPN in the policy). Although I see the same error that in the previous comment .
The difference is that th

[2019-06-06 09:41] Totonti commented on #29
Hi @Kyle-Reis,
I have continued to perform tests. What I have found is that for the B2B app purchased in VPP, no app protection policy was assigned, but if I want to create one, it does not appear in the list of apps. If I click on "+ more apps" and put the bundleId of the app and assign a policy and debugging, the app works well: it performs the user registration and collects the configuration da

[2019-06-06 12:34] Kyle-Reis commented on #29
Hey @Totonti, that is the typical approach for custom line-of-business apps. But for public App Store apps that are made available for any customer to use, developers can submit a request to make the app available in the list of targetable apps.

[2019-06-06 12:43] Kyle-Reis commented on #26
Hey @dathway. Just to clarify, you are integrating ADAL using this NuGet package?

https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory

If so, which version are you using?

[2019-06-06 13:09] Totonti commented on #29
Hi @Kyle-Reis ,
then it is correct since my app is a custom app that I have published in the app store but only for certain B2B clients, who are going to buy licenses through VPP and these clients are those who want to deploy the app through Intune, right?

[2019-06-06 14:23] dathway commented on #26
@Kyle-Reis We are integrating the ADAL nuget package in Identity Server 4. We have setup IDS4 as a federated gateway, since we need to enrich some claims which are not in Azure, for our app. The problem we are facing is a conditional access policy set in InTune, is preventing our Webview component in mobile, from receiving the the access token back from Azure AD. If we remove Webview, we are able

[2019-06-06 14:46] Kyle-Reis commented on #26
@dathway, thanks for clarifying. It sounds like your issue is not related to the Intune SDK or our Xamarin bindings, but rather a CA policy that is set up in your environment which requires that authentication take place within a particular browser(s)

@AkshaySLB, are you still facing your issue?

[2019-06-06 16:02] msintuneappsdk commented on #29
Hi @Totonti how many separate clients using Intune would be using the app that you are building?

[2019-06-06 20:21] Totonti commented on #29
Hi @Kyle-Reis, i'm not sure, we develop an app to a client who is the one that offers the app to its own partners.
we are testing the entire process to show to our client how it could be done, and in turn, show it to their partners and they will decide how to deploy the app to their users.

[2019-06-07 22:30] Kyle-Reis commented on #16
Hey @alexrainman, checking in again to see if you’re still having trouble here.

[2019-06-07 22:31] alexrainman commented on #16
Yes. Still doesn’t work. We implemented everything in our prod tenant because of this issue.

[2019-06-11 09:14] quantumarun opened #30 "Android App Crashes on Launch. Error - Signature mismatch for package or System.TypeLoadException: Could not load list of method overrides due to Method not found"
I have integrated Intune SDK in my Application. It used to work fine earlier probably a month back but now its crashes on launch.

Below are the nuget package version
Microsoft.Intune.MAM.Remapper.Tasks : 0.1.4428.1
Microsoft.Intune.MAM.Xamarin.Android : 3.0.4428.1
Xamarin.Forms : 4.0.0.482894
All required Xamarin.Android packages are added and are updated to latest version (1.1.1.1 or 28.0.0.1 .

[2019-06-11 13:44] quantumarun commented on #30
Got resolved now. I had to remove and add both the packages again and that worked.

[2019-06-11 13:44] #30 closed

[2019-06-11 16:28] Totonti commented on #29
hi again @Kyle-Reis ,
now we have a problem with the version of the library Microsoft.Intune.MAM.Xamarin.iOS.
if we use the last one : 10.0.7 it works ok but when we publish in App Center the app crash without error.
And when we use the version 8.1.1.2 when doing the loginandenrollment it remains in the first screen (searching organization data access )and don´t show the login page. And we must cl

[2019-06-11 17:18] Kyle-Reis commented on #29
Hey @Totonti, the issue you're describing in 8.1.1.2 is a known bug that we fixed in 10.0.7. I'm not sure what might be causing the crash that you see when deploying via AppCenter. Is the app signed properly for distribution? Are you able to connect the debugger or could you share crash logs?

[2019-06-12 07:47] Totonti commented on #29
Thank you @Kyle-Reis, I'm going to try to publish in App Center again with the 10.0.7 and get the logs.

[2019-06-17 06:15] Totonti commented on #29
Hi @Kyle-Reis ,
Apple has rejected the app, has sent us the log file. I enclose it to see if you can see something. If we can not publish it with the latest version of the library, we will not be able to implement it in Intune as we wanted.
[attachment-22441737030596131011459262051.console.log](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/files/3295451/attachment-2244173703059613101145

[2019-06-17 13:40] Kyle-Reis commented on #29
Hey @Totonti, are you able to reproduce the crash locally? Can you attach a debugger? The log file only contains the following statement repeated several times, and it doesn't appear to be related to Intune:

error	15:38:05.552801 -0700	aclara_meters.iOS	API MISUSE: <private> has no restore identifier but the delegate implements the centralManager:willRestoreState: method. Restoring will not be su

[2019-06-17 13:45] Kyle-Reis commented on #31
Transferred this issue to the correct repo and closing it out. If you're still having trouble here, please reopen.

[2019-06-17 13:45] #31 closed

[2019-06-17 21:18] Totonti commented on #29
Hi @Kyle-Reis , locally the app works ok. I can not reproduce the crash. In App Center and App store the app crash but in TestFlight it works.
I will try to get the log file from the device console when it crash.
Thank you

[2019-06-18 06:48] Totonti commented on #29
Hi @Kyle-Reis ,
I attach the log file from device console. I hope you can see something.
the app is com.aclara.mtu.programmer
Thank you
[Log_Xcode_Console-AppCenter_Mam_10.zip](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/files/3300123/Log_Xcode_Console-AppCenter_Mam_10.zip)

[2019-06-28 08:17] Totonti commented on #29
Hi @Kyle-Reis ,
Have you had an opportunity to see the log that I sent you?
It is important for us since we can not publish the app with the version 10.0.7 of the library and with the previous version the enrollment does not work.
Thank you

[2019-06-28 12:47] Knots23 opened #32 "DeRegisterAndUnenrollAccount does not remove account"
**Describe the bug:**
The first time you call `IntuneMAMEnrollmentManager.Instance.LoginAndEnrollAccount(null);`, the Microsoft login page is shown, as is expected. Once signed in, you can sign out using the `IntuneMAMEnrollmentManager.Instance.DeRegisterAndUnenrollAccount(IntuneMAMEnrollmentManager.Instance.EnrolledAccount, true);`. All values the can be found in the IntuneMAMEnrollmentManager.In

[2019-06-28 13:45] Kyle-Reis commented on #32
Hey @Knots23, this behavior is by design, as the Intune SDK does not clear the ADAL token cache by default. This is because the publisher's apps could be leveraging single-sign-on, and we do not know if there are other apps from the same publisher utilizing the shared ADAL cache. However, if all the apps from a given publisher are uninstalled, a call to LoginAndEnrollAccount should prompt for cred

[2019-06-28 14:15] Kyle-Reis commented on #29
Hey @Totonti, I just noticed this comment - "We sign the app in ad-hoc , with a group of devices. is that correct?" Ad Hoc will only allow the app to be run on designated devices. This may explain why you've been unable to reproduce the issue.  You should choose "App Store" when signing the archive.

[2019-06-28 15:04] Totonti commented on #29
Hi @Kyle-Reis ,
 we publish the app in the app store connect signing it with "App Store" and it was rejected because tha app crashes at launch. But the same app with the version of MAM 8.1.1.2 is accepted, published and works ok. So i think  it is not the signing of the app.
It is also very strange that the installation from testflight works.
Thank you

[2019-07-02 00:24] Kyle-Reis commented on #26
Closing out this issue due to inactivity. If you’re still experiencing this problem, please reopen!

[2019-07-02 00:24] #26 closed

[2019-07-02 00:34] Kyle-Reis commented on #29
Hey @Totonti, could you try our latest release ([11.0.8](https://www.nuget.org/packages/Microsoft.Intune.MAM.Xamarin.iOS/11.0.8))? That version contains an updated version of Objective-C ADAL, which addresses a crash that may occur depending on the state of the ADAL cache on the device. This might explain the inconsistent behavior you’ve seen.

[2019-07-03 10:12] Totonti commented on #29
Hi @Kyle-Reis, I have tried the new version and the same thing happens. I have published it in AppStore and they have rejected it because it crashes when it is launched.
although I do not understand why if I install it from TestFlight it works.
It also fails if I upload it to the App Center.
thank you

[2019-07-03 12:04] Kyle-Reis commented on #29
Hey @Totonto, in the AppCenter case, does it crash on the same device used to test the TestFlight scenario?

[2019-07-04 12:08] Totonti commented on #29
hi @Kyle-Reis, yes, i use the same device in both cases.
Attach the console when I try to run the app:
![Captura de pantalla 2019-07-04 a las 14 02 06](https://user-images.githubusercontent.com/46727161/60665473-d5a83680-9e64-11e9-977b-1dc562c060b3.png)

thank you

[2019-07-18 08:59] rbev opened #33 "JNI Error on GetPrimaryUser"
**Describe the bug:**
When calling intune functionality, either querying policy or using broker authentication through ADAL the application will crash with a JNI error (log attached)

This issue is transient and my assumption is that it's related to some difference in authentication flows when tokens expire since it appears to happen at the same approximate time of day (5-6 hours after first run)

[2019-07-23 14:51] meghandaly commented on #33
@rbev Can you complete this sentence: "A production build will work but when" ?

[2019-07-23 22:55] rbev commented on #33
Sorry, should have read

"A release build will work and then going back to a debug build it will stop working"

Could this be something to do with the 28.0.0.1 support libs? I notice that the NuGet package targets 27.x

Unfortunately it would be a very major change for me to test that as we moved past xamarin forms 3.5 quite a while ago and there are a lot of other libraries we are using that no l

[2019-07-23 22:56] rbev commented on #33
Also the final point about removing the mam remapper doesn't seem to actually make a difference, the problem came back.

[2019-07-24 16:41] meghandaly commented on #33
@rbev Thank you for that information.

I would not recommend rolling back your support libs. While the package targets 27.x, our [sample apps](https://github.com/msintuneappsdk/Taskr-Sample-Intune-Xamarin-Android-Apps) target 28.0.0.1 and function properly.

I expect the issue is within the bindings themselves so the inclusion of the Remapper would not have an effect on the issue.

While this is a

[2019-08-02 15:04] #32 closed

[2019-08-09 06:23] rbev commented on #33
We have updated to the new version (3.0.4500.1) and the issue is still present.

[2019-08-09 11:20] daredevil-1982 commented on #28
@meghandaly  Can you please share Link to updated package? It seems you have missed adding link to it.

[2019-08-11 21:29] maf17 opened #34 "Remapper causing Xamarin Forms Android projects to fail building in newer versions of Visual Studio / Xamarin.Android"
**Describe the bug:**
Xamarin Forms Android projects fail to link in release builds, and fail to run properly in debug builds on latest versions of Visual Studio, Xamarin.Android etc.

**To Reproduce**
Steps to reproduce the behavior:
1.  Download and install the latest Visual Studio for Mac (seems to be a problem on pc as well) with all the components required for Xamarin Forms.
2. Checkout Intun

[2019-08-14 08:05] rbev commented on #34
This issue also now affects all builds using the Microsoft Hosted 2019 agents in Azure Devops (our builds all started failing with this today)

A temporary workaround is to turn off the xamarin linker.

[2019-08-14 13:17] meghandaly commented on #28
@daredevil-1982 The updated Remapper package is version 0.1.4428.1.

It can be downloaded from [NuGet](https://www.nuget.org/packages/Microsoft.Intune.MAM.Remapper.Tasks/0.1.4428.1) or from the [Releases page on GitHub](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/releases/tag/5%2F28%2F2019).

[2019-08-14 21:02] maf17 commented on #34
@rbev Do the builds actually run when you turn off the linker?  I found the debug build would complete (because there was no linker used) but the application wouldn't run.  As far as I can tell it was using the non remapped version of Xamarin.Forms.Platform.Android.dll in the application.  hence it doesn't have the OnMAMCreate method, which the linker discovers and that's why it fails.  Without li

[2019-08-15 01:24] rbev commented on #34
It turns out they don't, so we will have to remove the remapper from our application for now to be able to progress with testing.

[2019-08-15 01:24] rbev commented on #33
This issue is now a month old, has there been any progress on fixing it?

[2019-08-15 03:20] maf17 commented on #34
@rbev we have a pipeline build that’s still working.  It’s using hosted vs 2017 to build tho.  Not sure if switching to that is an option for you.

[2019-08-15 03:27] rbev commented on #34
If push comes to shove we will probably just create our own version of the package with a fixed .targets file and publish it to our private nuget feed to get a build working.

[2019-08-15 16:27] Kyle-Reis commented on #23
Hey @sureshbabu4, do you still need help here?

[2019-08-15 16:31] Kyle-Reis commented on #29
Hey @Totonti, are you still seeing the AppCenter crash?

[2019-08-15 19:55] Kyle-Reis commented on #16
@alexrainman have you tried the LoginAndEnrollAccount test I suggested on Apr 18?

[2019-08-16 09:27] Totonti commented on #29
Hi, i'm on vacation right now, but the last time i tried to publish the app
in the apple store they didn't approve it. Although in appcenter the app
worked and in testflight too
Thank you

El jue., 15 ago. 2019 18:31, Kyle Reis <notifications@github.com> escribió:

[2019-08-19 17:24] Kyle-Reis commented on #23
Hey @sureshbabu4, checking in again before closing out this issue. Are you still blocked?

[2019-08-22 02:14] rbev commented on #34
Is there any news on this? We need to reintroduce the mapper at some point soon so that we can test our release.

Knowing what the ETA is would be helpful

[2019-08-30 05:56] jlhernandez1388 opened #35 "Get token to use with custom API app uses Intune Xamarin Binding with conditional access"
Hello,

I have been trying for a long time now to retrieve a token with ADAL for .Net. The problem is that our client uses conditional access and prevents login in if it's not from a Microsoft approved app or Intune MAM app. (Please note that this is an app that will be distributed via Intune.)

I'm able to login and register with the Intune SDK successfully. But the Intune SDK doesn't provide a t

[2019-08-31 10:15] Kyle-Reis commented on #23
Closing out this issue due to inactivity. Please reopen if you’re still having trouble.

[2019-08-31 10:15] #23 closed

[2019-08-31 10:17] Kyle-Reis commented on #29
Hey @totonti, do you know why the app store rejected the app?

[2019-09-02 10:20] Totonti commented on #29
Hi @Kyle-Reis ,
the answer of AppStore team is:
![image](https://user-images.githubusercontent.com/46727161/64107792-9a01ee00-cd7b-11e9-92f0-ce556509bf0f.png)

I think it doesn't make much sense what they say, since for TestFlight they have approved it.
I attach the log files
[attachment-2948070407650225038aclara (4).log](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/files/3565591/attac

[2019-09-05 03:32] rbev commented on #34
@meghandaly  do you have any more information for us?  This issue has started to affect maintenance releases from older branches

[2019-09-05 03:33] rbev commented on #33
Can we please have an update on this bug?

[2019-09-09 17:40] JamestsaiTW commented on #34
@rbev Thank you for your workaround.

[2019-09-10 01:29] rbev commented on #34
@JamestsaiTW : which workaround? as discussed above these builds will fail at runtime (unless you are building on the 2017 agent)

[2019-09-10 03:01] JamestsaiTW commented on #34
In my case,
I build my Xamarin.Forms project by @rbev's workaround, turn off Xamarin linker, Build Success!
Then I build my Xamarin.Forms project by @maf17 workaround, Edit Remapper.Tasks.target file, Build Success!

I use Visual Studio Enterprise 2019 (version 16.2.4) in my computer (not Microsoft Hosted 2019 agents in Azure Devops).

[2019-09-20 15:16] meghandaly commented on #34
We have released new [bindings](https://www.nuget.org/packages/Microsoft.Intune.MAM.Xamarin.Android/) and [Remapper ](https://www.nuget.org/packages/Microsoft.Intune.MAM.Remapper.Tasks/)packages that have been tested with the latest VS 2019 version. [Release 9/20/19](https://github.com/msintuneappsdk/intune-app-sdk-xamarin/releases/tag/9/20/2019)

[2019-09-20 15:16] #34 closed

[2020-01-13 07:38] dm-CaT opened #36 "Package Microsoft.Intune.MAM.Xamarin.Android 3.0.4635.1 referencing failed"
**Describe the bug:**
I cannot reference "Microsoft.Intune.MAM.Xamarin.Android" 3.0.4635.1

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Xamarin Forms Project
2. Select Shell template
3. Update the NuGet package Xamarin.Forms to the '4.4.0.991477' version for the whole solution.
4. Try to install Microsoft.Intune.MAM.Xamarin.Android '3.0.4635.1' package in the Android project.
5

[2020-01-14 12:48] Kyle-Reis commented on #35
Hey @jlhernandez1388, do you still need help with this?

[2020-01-28 14:18] meghandaly commented on #36
This should be resolvable by directly importing the support library NuGet packages to your project as the error suggests.

The Microsoft.Intune.MAM.Xamarin.Android package is compatible with the 28.0.0.3 support packages.

[2020-01-30 22:14] dm-CaT commented on #36
@meghandaly, thanks.
Finally, I've got Microsoft.Intune.MAM.Xamarin.Android installed.
Next NuGet packages should be referenced directly.

Xamarin.Android.Support.v7.RecyclerView 28.0.0.3
Xamarin.Android.Support.Core.UI 28.0.0.3
Xamarin.Android.Support.Fragment 28.0.0.3
Xamarin.Android.Support.Media.Compat 28.0.0.3

[2020-01-31 14:01] meghandaly commented on #36
@dm-CaT I am happy to hear that. We will look into bumping the support library dependency in the next release.

[2020-01-31 14:01] #36 closed

[2020-03-06 22:11] sprabhuraj opened #37 "iOS - LOB App stuck in Enrollment page after password reset"
Custom LOB App using the NuGet Microsoft.Intune.MAM.Xamarin.iOS version 12.0.12, after authentication gets stuck in the Intune Enrollment screen and unable to get past it. The issue occurs in the app when the app is either deployed through Intune or without Intune.

Steps to reproduce:
1) App works perfectly.
2) Change user password.
3) App authenticates.
4) Stuck in Enrollment Page.

Screenshots

[2020-03-10 15:47] sprabhuraj commented on #37
We have updated to 12.2.0. Still see the same issue.

[2020-04-07 17:35] Kyle-Reis commented on #35
@jlhernandez1388, checking in again if you need help with this issue.

[2020-04-07 17:37] Kyle-Reis commented on #29
Hey @Totonti, were you able to get any further explanation on this? Is your app still getting rejected?

[2020-04-07 19:18] Totonti commented on #29
Hi @Kyle-Reis ,
We updated the sdk to version 11.8.13 and finally the apple store approved the application.
thank you very much

[2020-04-07 19:18] #29 closed

[2020-04-10 12:11] Knots23 opened #38 "New Xamarin Forms Android project using Remapper throws "You MUST call Xamarin.Forms.Init(); prior to using it"."
**Describe the bug:**
I just created a new Xamarin Forms project using:
- Visual Studio 16.5.3
- Xamarin Android 10.2.0.100
- Xamarin Forms 4.5.0.396
- Microsoft Intune MAM Remapper Tasks 0.1.4635.1

As my actual project, I've added a splash screen as can be seen in the code below. This screen waits for 2 seconds, then starts the actual app.

When running this sample, the build succeeds, but when

[2020-04-22 10:50] Knots23 commented on #38
It's been twelve days since I've posted this issue and nobody responded... Can anybody help me out here as I cannot debug/test Android apps at all?

[2020-04-27 15:48] Kyle-Reis commented on #37
Hey @sprabhuraj, do you still need help here?

[2020-04-27 15:54] sprabhuraj commented on #37
Hi Kyle,

No, we are good. Can you please add the references to this flag
SafariViewControllerBlockedOverride flag in the README of this SDK.

Thanks
Prabhu

On Mon, Apr 27, 2020 at 10:48 AM Kyle Reis <notifications@github.com> wrote:

--
********************
  Keep Smiling :-)
********************
Because SMILE is the first best thing you can do with your lips for nothing!

[2020-04-27 16:07] Kyle-Reis commented on #37
Great to hear you were able to resolve the issue! Just for context, your app is using .Net MSAL with a SFSafariViewController as the web view?

[2020-04-27 16:27] sprabhuraj commented on #37
Yes. But we are not explicitly using SFSafariViewController. We are using
the default method of login and enroll.

On Mon, Apr 27, 2020 at 11:08 AM Kyle Reis <notifications@github.com> wrote:

--
********************
  Keep Smiling :-)
********************
Because SMILE is the first best thing you can do with your lips for nothing!

[2020-05-06 08:38] Totonti opened #39 "Intune SDK for IOS v. 12.4.0"
Hi,
I just wanted to ask when the library will be compiled with the latest version of Intune SDK for IOS v. 12.4.0 to avoid UIWebView problem.
Thank you

[2020-05-12 23:04] binukuruvilla opened #40 "Java.Lang.IllegalStateException: 'You need to use a Theme.AppCompat theme (or descendant) with this activity.'"
Hi,
   I have integrated intune sdk with the xamarin androd project. I followed the instructions a defined  for MAM  in microsoft docs.  In the MainActivty class i have defined the theme as well Theme = "@style/Theme.Run and the theme is defined in style.xml as well. When i run the application i get the Error Java.Lang.IllegalStateException: 'You need to use a Theme.AppCompat theme (or descendant)

[2020-05-18 09:55] viveknegi51288 opened #41 "Xamarin forms + msal + Intune sdk"
Can you please provide sample app for xamarin forms + intune sdk.

I have created an application in xamarin forms with MSAL library, Where i am able to get mfa token , now I need to integrate intune sdk to this application,

I followed all the steps but my application get stuck at splash screen(my own splash screen)

I need your help to provide steps , what Need to do after login successfully and

[2020-05-20 14:44] viveknegi51288 commented on #41
@msintuneappsdk @oydang @Kyle-Reis @reutann

[2020-05-20 17:40] Kyle-Reis commented on #41
Hey @viveknegi51288, we don't have a sample app for Xamarin forms specifically, but the integration process should be the same as any Xamarin.iOS app. You can reference [this sample](https://github.com/msintuneappsdk/sample-intune-xamarin-ios). That sample calls LoginAndEnrollAccount, but if your app is doing it's own auth, you'll want to call RegisterAndEnrollAccount after successfully acquiring

[2020-05-20 17:42] Kyle-Reis commented on #39
Hey @Totonti, we're working on getting the bindings updated now. Thanks!

[2020-05-20 17:47] Kyle-Reis commented on #35
Closing out this issue due to inactivity. If you're still having problems, feel free to reopen!

[2020-05-20 17:47] #35 closed

[2020-05-20 19:21] #37 closed

[2020-05-20 19:24] Totonti commented on #39
Thanks 😊

El mié., 20 may. 2020 19:42, Kyle Reis <notifications@github.com> escribió:

[2020-05-29 18:45] Kyle-Reis commented on #39
Hi @Totonti, version 12.4.0 of the Xamarin.iOS bindings is now available: https://www.nuget.org/packages/Microsoft.Intune.MAM.Xamarin.iOS/latest

[2020-05-29 18:45] #39 closed

[2020-06-15 13:35] viveknegi51288 commented on #41
@Kyle-Reis  Thank you for the reply, I able to embed intunes ios sdk with MSAL and able to register the user in intunes but for android I am not getting any help from anywhere as in official doc also only ADAL with Android intune sdk explained. Can you help how to integrate MSAL with ANdroid intune sdk.

[2020-06-15 19:11] Kyle-Reis commented on #41
@cofitz1 or @meghandaly, could you help with the above? Thanks.

[2020-06-16 06:22] viveknegi51288 commented on #41
@cofitz1  and @meghandaly Please help

[2020-07-08 15:30] Totonti opened #42 "Cannot Deploy App in Debug Mode with Android MAM Integration"
**Describe the bug:**
I can't debug the project. I have  [Application(Debuggable = false)] but it doesn't work.
I'm using the DefaultEnrollment in Android Xamarin forms project.
<meta-data android:name="com.microsoft.intune.mam.DefaultMAMServiceEnrollment" android:value="true" />

I notice that in background the android project is always compiling.  is it normal? see image

Visual Studio version:

[2020-07-30 07:48] ArunaVignesh opened #43 "Open-In/Share filtering option in azure portal"
Hi,
I am using latest Microsoft.Intune.MAM.Xamarin.iOS (12.6.1) in my application.

In Azure portal, App protection policies ->Intune App Protection - Properties ->Data relocation tab,
"send org data to other apps" ,if i select the option "Policy managed apps with Open-In/Share filtering" my app is not displayed in the share dialog. I want to open my app from microsoft OUTLOOK.

In the Microsoft I

[2020-08-07 01:49] ArunaVignesh opened #44 "Microsoft.Intune.MAM.Xamarin.Android support to Androidx"
Hi,

I have created  the Xamarin.Forms application with intune support. Xamarin.Forms supports Android X, but it does not work because Microsoft.Intune.MAM.Xamarin.Android is not supported. This is causing problems for our products. Please tell when this will be done. Microsoft.Intune.MAM.Xamarin.Android (3.0.4635.1) released on  December 17, 2019 . there is no updation for nearly 7 months and abo

[2020-08-19 05:26] Aruna-CEGB commented on #43
Please help. stuck with this issue..

[2020-08-31 17:42] TrueGeek commented on #44
This is causing serious problems for us as well.

Adding the Microsoft.Intune.MAM.Xamarin.Android NuGet package fails with the latest version of Xamarin.Forms

[code]

Adding the Android.Support packages manually, as suggested by NuGet, prevents the project from building with multiple errors of "Invalid Android Support Library Configuration".

The iOS NuGet package was updated 2 months ago and can

[2020-09-02 21:00] Kyle-Reis commented on #44
Assigning this to @cofitz1 and @meghandaly.

[2020-09-02 21:14] Kyle-Reis commented on #43
Hey @Aruna-CEGB , you can follow the steps here to add the action extension to your app: https://docs.microsoft.com/xamarin/ios/platform/extensions.

[2020-09-09 21:44] sowmini commented on #38
@Knots23 : We are facing the same issue with the app showing a black white screen and are unable to debug the app in spite of configuring the app to debug(per the docs).. Were you able to resolve this issue? Any insights on this would be greatly appreciated.

[2020-09-15 14:17] Knots23 commented on #38
@sowmini : unfortunately not. We ditched Intune as there was no response at all. Being able to debug has a higher priority than having Intune in our app...

[2020-09-15 16:59] sowmini commented on #38
@Knots23 thanks for your response. We are probably going to do the same and try the Intune wrapping tool and see how that works.

[2020-09-29 18:31] meghandaly commented on #41
Apologies for the delay.

We are updating our MSAL documentation and our sample apps to help users connect their MSAL and MAM integrations. I will post here when both are available.

Questions:
1. Without MAM are you able to successful log ininto your Android app?
2. Has your app implemented a `IMAMServiceAuthenticationCallback` for acquiring the token for MAM?

We are actively reevaluating our Xa

[2020-09-29 18:31] meghandaly commented on #44
Apologies for the radio silence, our next release will include updated references to the latest support libraries and we are targeting it before years end.

We are actively reevaluating our Xamarin support and are working to better address issues in the future and we thank you for your patience.

[2020-09-29 18:32] meghandaly commented on #42
We are aware of this issue and apologize for delay in response.

While we don't have a fix in hand, we do have the following workaround:

1. Deploy the app in Release mode.
2. Navigate to the `mamRemapperOutput` in the build `obj` folder. i.e `E:\IntuneSDKXamarinForms\IntuneSDKXamarinForms\IntuneSDKXamarinForms\IntuneSDKXamarinForms.Android\obj\Release\90\mamRemapperOutput`
3. Copy the `Xamarin.Fo

[2020-09-29 18:34] meghandaly commented on #40
Hi @binukuruvilla, apologies for the delay.

Can you share your `Activity` class?

[2020-09-29 18:47] meghandaly commented on #38
Please refer to Issue #42 . We are aware of the issue with debugging and will be keeping that issue for tracking purposes.

Furthermore, we are actively reevaluating our Xamarin support and are working to better address issues in the future and we thank you for your patience.

[2020-09-29 18:47] #38 closed

[2020-09-29 20:03] viveknegi51288 commented on #41
@meghandaly  Not an issue... I have implemented successfully (Xamarin forms + msal + Intune sdk) . Closing the ticket

[2020-09-29 20:03] #41 closed

[2020-10-29 11:54] NicholasNgN3Y commented on #44
Good day, @meghandaly,
I am facing the same issue on this. would like to enquire if there is any timeline that I can use to report to clients.

Using the sample [Xamarin Forms - Android app](https://github.com/msintuneappsdk/Taskr-Sample-Intune-Xamarin-Android-Apps/tree/master/TaskrForms),
upon upgrading it to latest Xamarin.Forms > 4.5
the landing page just hits a white page like described [here]

[2020-10-30 04:09] NicholasNgN3Y commented on #44
Are we able to raise a support case for this?

[2021-01-27 15:11] JamestsaiTW commented on #44
Is there any update news?

[2021-02-03 08:18] rrajarap commented on #42
Hi, is there any update on this issue?

[2021-02-16 16:25] Kyle-Reis commented on #43
Closing out this issue. Please reach out again if you have any other issues!

[2021-02-16 16:25] #43 closed

[2021-02-25 17:43] ldrtzstmmns opened #46 "IntuneMAMConfigurator fails on remote Windows build"
**Describe the bug:**
When trying to build an iOS application with the Intune SDK installed using a remote macOS computer, it will fail with the following message:
`The command "chmod +x IntuneMAMConfigurator" exited with code 255.`

This happens with the Entitlements.plist file properly configured and attached to the csproj.

This does not happen if compiling directly in macOS.

**To Reproduce**

[2021-02-25 22:46] Kyle-Reis commented on #46
Hi @ldrtzstmmns, which version of VS/Xamarin are you building with?

[2021-03-31 07:28] SergioZgz opened #47 "Xamarin Android with Mvvmcross fails build when add Intune MAM"
**Describe the bug:**
Xamarin Android app with Mvvmcross (classic xamarin, not Forms) build fine, add the Intune MAM package and their dependences, update it to 28.0.0.3 and when try to build we get these errors:

/xxxxxxx.Droid/obj/Debug/lp/70/jl/res/layout/lb_list_row.xml(19): error APT2259: 'wrap_content' is incompatible with attribute rowHeight (attr) dimension [weak].
/Library/Frameworks/Mono

[2021-04-08 04:57] ArunaVignesh commented on #44
@meghandaly, Is there any update regarding the release?

[2021-04-08 10:02] rrajarap commented on #42
Hi, is there any update on this issue?

[2021-04-20 12:48] JamestsaiTW commented on #44
@meghandaly, Is there any update news?

[2021-04-22 09:23] OleksandrMovchan opened #48 "Impossible migrate to AndroidX"
As we know, Google now reject all applications with API version below 29

**Impossible migrate to AndroidX**

We tried to update our target API, but for Android version starting 10 is mandatory to migrate to AndroidX library versions.
And Intune for Xamarin.Android doesn't support AndroidX, and has dependencies inside only to obsolete Android.Support.

As result, project can't be compiled due to c

[2021-05-03 18:44] JamestsaiTW commented on #48
@meghandaly, Is any update news?

[2021-05-13 07:57] OleksandrMovchan commented on #44
@meghandaly We still blocked by this issue. Do you have any roadmap for Xamarin.Android version?

[2021-07-06 20:25] paulvwarner commented on #44
@meghandaly I'm blocked by this as well. Is there any news about this?

[2021-07-21 12:54] Dimdron commented on #44
hey @meghandaly, could you share any information regarding updating MAM Binding for Android?

[2021-07-21 17:29] mayganm opened #49 "Known Issue: Blank screen on launch of Android LOB apps using Intune App SDK Xamarin Bindings"
There's a known issue when launching Android line-of-business (LOB) apps that are using the Intune App SDK Xamarin Bindings, where the app will fail to load and only display a blank screen. This prevents app protection policies (APP, also known as MAM) for LOB apps from syncing with Android devices. Additionally, Microsoft does not currently support the Conditional Access grant “Require app protec

[2021-08-23 21:05] nosmalldreams commented on #48
Any updates? We are trying to implement InTune support, but are running into the same issue.

[2021-08-24 13:40] nosmalldreams commented on #48
I am trying to implement InTune for the first time in a Xamarin app already upgraded to AndroidX. I ran into the same issue as the OP when I tried to follow the Xamarin implementation instructions [here](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-xamarin). I do see [this](https://github.com/msintuneappsdk/ms-intune-app-sdk-android/issues/12) post and the documentation [here ](ht

[2021-09-14 02:28] JamestsaiTW commented on #44
@meghandaly,  Is there any update news?

[2021-09-16 15:27] meghandaly commented on #48
Closing as a duplicate of #44

[2021-09-16 15:27] #48 closed

[2021-09-16 15:30] meghandaly commented on #16
Closing as there is not enough to continue the investigation and it appears that this issue is obsolete.

[2021-09-16 15:30] #16 closed

[2021-09-16 15:31] meghandaly commented on #44
No update at this time.

[2021-09-17 13:44] miguelweiss opened #50 "Problem upgrading to Microsoft.Intune.MAM.Xamarin.iOS.14.7.0"
I'm working in a Xamarin Forms project that is currently using the Microsoft.Intune.MAM.Xamarin.iOS.14.3.5 for an iOS mobile application.  We are looking forward to upgrade to the latest Microsoft.Intune.MAM.Xamarin.iOS.14.7.0 version.

When we update the Nuget package to reference the new 14.7.0 and run the build we are getting the following 17 error messages:

1. MTOUCH: Error MT5214: Native lin

[2021-09-17 14:46] darosal commented on #50
Thank you for reaching out and bringing this to our attention! Could I get more details about your build machine setup so that I can attempt to reproduce this locally? Are you building on Windows vs OSX? Are you building for simulator or device?

[2021-09-17 14:53] miguelweiss commented on #50
I'm currently working on macOS Bug Sur version 11.6.
Using Visual Studio Enterprise 2019 for Mac with Xamarin.iOS Version: 14.20.0.24.
Building for a physical device that is running the latest iOS 15 beta.

Thank you very much

[2021-09-17 15:11] darosal commented on #50
Great, thanks! One last thing just to confirm, do you still get all the errors after doing a "Build > Clean All" within Visual Studio?

[2021-09-17 15:27] miguelweiss commented on #50
Yes.  I still get the same error messages after doing a "Build > Clean All" and then a "Build > Build All" in visual studio.
Any ideas what I could be missing or doing wrong?

[2021-09-17 15:39] darosal commented on #50
We recently made a change to how our bindings link to the MAM SDK. It's possible that introduced the issue you are seeing. We will be reverting some of this change very soon to fulfill nuget.org upload requirements so hopefully that will also resolve your issue. But since we want to make the change again in the longterm, I think it's still worth investigating this issue a bit more.

How is your ap

[2021-09-17 16:02] miguelweiss commented on #50
As you mentioned the new package is not available in nuget.org, therefore we've downloaded the "Microsoft.Intune.MAM.Xamarin.iOS.14.7.0.nupkg" from the GitHub repository.  Then we use Visual Studio to consume this package from a local source.  "Visual Studio > preferences > Nuget > Sources".

The reason why we wished to use the 14.7.0 version is because iOS mobile applications using the "Microsoft

[2021-09-17 16:21] darosal commented on #50
Could you try the new 14.7.1 version and see if that solves the issue? It is up both here on GitHub and on nuget.org.

[2021-09-17 16:23] darosal commented on #50
I do also want to note that the crash was caused by an issue in the ADAL version we were using. As part of 14.7.0 and 14.7.1 releases, we have switched over to MSAL. Please make sure to update the redirect URI in the app's Info.plist to an MSAL accepted format if you haven't already.

[2021-09-17 16:59] miguelweiss commented on #50
Awesome, switching over to version 14.7.1 made the trick.  I no longer see the build errors.

Thank you very much for all your help.

[2021-09-17 17:00] darosal commented on #50
Thats great to hear! Please feel free to reach out again if any other issues pop up.

[2021-09-17 17:00] #50 closed

[2021-09-23 17:16] miguelweiss opened #51 "Help troubleshooting MAMEnrollmentStatusInternalError"
The issue is related with the registering and enrolling an account process with an iOS application.

We are working on an iOS Xamarin based application for **iOS 15 iPhone**, Building with **Xcode 12.5.1**, using **MSAL** authentication and using the **Microsoft.Intune.MAM.Xamarin.iOS 15.0.0** Nuget package.

When we call the `IntuneMAMEnrollmentManager.Instance.RegisterAndEnrollAccount(string ide

[2021-09-27 14:48] darosal commented on #51
Hi @miguelweiss, as part of this release we have also switched over from ADAL to MSAL. Have you updated your Info.plist to reflect an MSAL redirect URI? You can follow steps here [Configure MSAL](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#configure-msal) (ignore any parts that aren't relevant to Xamarin). If the issue persists after making these changes please let me know!

[2021-10-21 12:12] michaelb-yambay commented on #49
Hi there, I was wondering if I could ask for more detail on the symptoms of issue?

In preparation to attempt integration with InTune into a business application, I've got a basic Xamarin Forms test application that has added the InTune SDK and InTune Xamarin re-mapper nugets:
- An Application class (inheriting from MAMApplication has been added), and overrides the OnMAMCreate() method.  This logs

[2021-12-01 01:58] JamestsaiTW commented on #44
@meghandaly, After more than two months, is there any update news?

[2021-12-01 01:58] JamestsaiTW commented on #44
@meghandaly, After more than two months, is there any update news?

[2021-12-07 11:49] Aculeo commented on #51
I'm facing this issue with the iOS package **15.1.3**. Also after downgrading this error went away. I'm on Xamarin.Forms 5.0.0.2012. The app is using MSAL.

[2021-12-07 15:45] IliyanPopov opened #52 "Enrollment Failed: There was an internal error in the Intune MAM SDK. (Xamarin Forms iOS project)"
**Describe the bug:**
RegisterAndEnrollAccount method fails with internal error.
Enrollment Failed: There was an internal error in the Intune MAM SDK.  Please see the NSError object for more details.
Strangely the Error object itself is null?!?

**To Reproduce**
After successful MSAL authentication call the IntuneMAMEnrollmentManager.Instance.RegisterAndEnrollAccount(identity) as described in the

[2021-12-08 21:45] darosal commented on #52
@IliyanPopov, can you confirm if you have <RestoreProjectStyle>PackageReference</RestoreProjectStyle> set in your csproj file? I have found the cause for a very similar issue and it only affects projects using PackageReferences to consume nuget packages and doesn't affect apps using a packages.config file.

[2021-12-08 21:47] darosal commented on #51
@Aculeo, can you confirm if you have PackageReference set in your csproj file? See #52.

[2021-12-09 07:52] IliyanPopov commented on #52
@darosal
Yes I confirm that. If a new Xamarin.Forms project is created it will use PackageReferences by default.
Quote "By default, PackageReference is used for .NET Core projects, .NET Standard projects, and UWP projects targeting Windows 10 Build 15063 (Creators Update) and later, with the exception of C++ UWP projects."
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-

[2021-12-10 10:53] Aculeo commented on #51
Yep, I'm using package references already (this is the reference of a package version that's working).

[code]

[2021-12-10 16:25] darosal commented on #52
Hi @IliyanPopov, thanks for confirming that! We have just released a 15.2.0 version of the iOS MAM Xamarin bindings that should address this issue. It should be available on nuget.org now or shortly. Can you try it and confirm if the "There was an internal error in the Intune MAM SDK. Please see the NSError object for more details." error has gone away?

[2021-12-13 08:26] IliyanPopov commented on #52
@darosal
I confirm that it works !!!
I have only updated to 15.2.0, no other code changes were made. RegisterAndEnrollAccount works with the current MSAL implementation. PIN set-up screen is shown as expected.
Big thanks to all the people which were involved in this fast fix!
![IntuneWorks](https://user-images.githubusercontent.com/13572259/145777071-fe1a0a80-2c4d-4435-a19d-1087557e67d3.PNG)

[2021-12-13 15:16] darosal commented on #52
@IliyanPopov Awesome! I'll be closing out this issue but feel free to open another one if another problem comes up!

[2021-12-13 15:16] #52 closed

[2021-12-17 08:19] Aculeo commented on #51
Hi,
Now the error has changed to this with the latest version:

[code]

[2022-01-28 11:49] hernandoz commented on #44
@meghandaly, Is there any update news?

[2022-02-21 08:32] rdieske commented on #44
@meghandaly, Bump... Any update news ?

[2022-03-07 13:29] Aniiia commented on #44
Hi,

any updates on this?

Greetings

[2022-03-08 13:44] Aniiia commented on #49
Hi,

any updates on this?

Greetings

[2022-03-08 17:48] nunotrancoso opened #53 "After returning a token from AcquireTokenInteractive() and giving back control to the caller, the MSAL UI "sticks" and will not go away"
We have updated the Intune SDK and MSAL (and VS+XCode) to the latest versions to try and fix an issue flagged by testers using broker. But now when we use MSAL AcquireTokenInteractive() to get a token from an AAD registration endpoint, even though the token has been returned and the control flow is back to the app, the MSAL UI will not be disposed of, and sticks on top of everything preventing acc

[2022-04-13 21:10] abasore commented on #53
@nunotrancoso Have you had a chance to update and test with the latest version?

[2022-04-22 13:28] miguelweiss opened #54 "Help with error: the operation couldn’t be completed. (com.microsoft.commonlib.httpconnector error 603)"
The issue is related with the registering and enrolling account process in an iOS application.

We are working on an iOS Xamarin based application using  iOS 15.3.1 for iPhone. Building with Xcode 13.3, using MSAL authentication with Microsoft.Identity.Client 4.43.1 Nuget package and using the Microsoft.Intune.MAM.Xamarin.iOS 15.3.0.1 Nuget package.

When we call the **IntuneMAMEnrollmentManager.I

[2022-04-25 14:14] abasore commented on #53
Closing due to inactivity. Feel free to reopen or create a new report if the issue persists.

[2022-04-25 14:14] #53 closed

[2022-04-25 15:16] darosal commented on #54
Hi @miguelweiss, thanks for reaching out! This error message is one that appears for generic http failures when trying to enroll with our MAM service. Does this enrollment failure happen consistently? Does it also happen on a freshly wiped device?

[2022-04-25 18:09] miguelweiss commented on #54
Hi @darosal,

The error does happen consistently and it may come and go randomly without the user doing any changes in his device or to the application.  It may affect an application user for several days and then disappear for several days for it to reappear again, etc...

We haven't been able to figure out what it is the root cause.  The only clue we have is the "he operation couldn’t be complet

[2022-04-27 11:30] Mileshdpatel commented on #44
@meghandaly, as per support case: 30659658 and escalation case: 11137614 we are also having this issue.

[2022-04-27 20:40] darosal commented on #54
Hi @miguelweiss,

There might be more information we can take out of our Intune logs. Do you have any place where you call into the `IntuneMAMDiagnosticConsole.DisplayDiagnosticConsole()` method within your app? If you are able to launch the diagnostic console on a device that has been exhibiting these 603 errors, you should be able to follow the prompts to generate an Intune log file.

I'm hoping

[2022-10-07 10:28] PavanRaghamwa opened #55 "Microsoft Intune App SDK integrate with Xamarin Forms along with MSAL"
Can you please provide sample app for xamarin forms + MSAL + InTune sdk.

I have created an application in xamarin forms with MSAL library and now I need to integrate intune sdk to this application.

Does this SDK supports latest Xamarin Forms(v5.0 or Greater) , Android 13 and iOS 15 or 16 version?

Samples provided in documentation are not able to run. (Android Sample Min Target Version is v4.0 a

[2022-11-08 17:16] JamestsaiTW commented on #44
As this following link from Microsoft documents:
https://learn.microsoft.com/en-us/mem/intune/developer/app-sdk-xamarin

![image](https://user-images.githubusercontent.com/9651229/200630839-f3907927-aa86-4a86-be56-b9ea0d986e33.png)
So, this problem will be solved at Q2CY2023?

Oh...BTW, today is 11/9/2022. 😏

[2022-11-18 19:08] abasore commented on #55
@PavanRaghamwa For the iOS side, we do support iOS 15 + iOS 16. We don't have a xamarin forms example app yet. In case you didn't see this, we do have this example xamarin app app: https://github.com/msintuneappsdk/sample-intune-xamarin-ios

This doc also mentions special considerations when using xamarin forms: https://learn.microsoft.com/en-us/mem/intune/developer/app-sdk-xamarin#enabling-intune